a {
	transition: .4s all;
}

.br-mobile {
	display: none;
}

html, body {
    height: 100%;
}

body {
	font-family: 'Avenir Next Cyr';
	font-weight: 500;
    font-style: normal;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    width: 100%;
    min-height: 662px;
    position: relative;
    /*z-index: 3;*/
}

.content .container {
	max-width: 1440px;
	/*max-width: 1164px;*/
	/*max-width: 1190px;*/
	width: 100%;
	margin: 0 auto;
}

.logo-wrapper {
	max-width: 152px;
	margin-top: 20px;
	position: relative;
	z-index: 4;
}

.steps {
    max-width: 390px;
    min-height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.step-title {
	font-family: 'PF Din Text Cond Pro';
	font-weight: bold;
    font-style: normal;
	color: #2ebfee;
	font-size: 24px;
	line-height: 1;
    text-transform: uppercase;
}

.step-content {
	color: #fff;
	font-size: 15px;
    line-height: 20px;
    max-width: 250px;
    padding: 10px 0;
}

.white-highlighter {
	background: #fff;
	color: #e92593;
    padding: 0 4px;
}

.step2-img-wrapper {
	max-width: 100px;
    margin: 10px 0;
}

.step-content-wrapper,
.step-img-wrapper {
	display: inline-block;
}

.step3-img-wrapper {
	max-width: 90px;
    margin: 15px 0;
}

.content-promo {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.left-content {
	width: 390px;
	z-index: 4;
}

.right-content {
	width: 660px;
	position: relative;
}

.halls {
	max-width: 660px;
	margin: auto;
	position: relative;
	z-index: 4;
}

.halls-text {
    max-width: 255px;
    max-height: 92px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -55px;
    margin: auto;
}

.halls-brazil {
	max-width: 412px;
	max-height: 95px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	margin: auto;
}

.terms-promo {
	margin: 20px auto;
    color: #fff;
    text-align: center;
    font-size: 14px;
    position: relative;
    z-index: 4;
}

.win-text {
    margin: 10px auto;
    max-width: 521px;
    position: relative;
    z-index: 4;
}

.button-promo {
    position: relative;
    width: 256px;
    height: 74px;
    margin: 30px auto;
    z-index: 3;
}

.button-promo span {
	font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: #fff;
    position: absolute;
    z-index: 4;
    transform: rotate(-4deg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 18px;
    width: 180px;
    text-transform: uppercase;
}

.layer1,
.layer2,
.layer3 {
    width: 256px;
    height: 74px;
    position: absolute;
    top: 4px;
    -webkit-transform: skew(4deg) rotate(-4deg);
    -moz-transform: skew(4deg) rotate(-4deg);
    -o-transform: skew(4deg) rotate(-4deg);
    transform: skew(-4deg) rotate(-4deg);
}

.layer1 {
	background: #e92593;
    z-index: 3;
}

.layer2 {
	background: #fff;
	z-index: 2;
	top: 0px;
    right: -4px;
}

.layer3 {
	background: #00adee;
	z-index: 1;
    top: 8px;
    left: -4px;
}

.fan-promo {
    position: absolute;
    left: -40px;
    bottom: 0;
    z-index: 3;
}

footer {
    flex: 0 0 auto;
    width: 100%;
    min-height: 200px;
    background: #fff;
    position: relative;
    z-index: 3;
    padding: 20px 0;
}

.footer-links {
	width: 100%;
	margin: auto;
	text-align: center;
}

.footer-links li {
	display: inline-block;
	padding: 10px 20px;
}

.footer-links a {
	color: #e92593;
	text-decoration: underline;
}

.footer-links a:hover {
	text-decoration: none;
}

.footer-logo {
    max-width: 140px;
    margin: 20px auto 30px;
}

.copyright {
    font-size: 11px;
    text-align: center;
    color: #561b74;
}

.left-bg {
    background: #e92593;
    height: 662px;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.form1 {
    background: #e92593;
    width: 100px;
    height: 260px;
    position: absolute;
    top: -11px;
    right: -24px;
    z-index: 3;
    transform: rotate(10deg);
}

.form1::before {
    content: '';
    background: #00b5fa;
    height: 200px;
    width: 10px;
    position: absolute;
    bottom: 0;
    right: -10px;
}

.form1::after {
    content: '';
    background: #fff;
    height: 190px;
    width: 10px;
    position: absolute;
    bottom: 0;
    right: -20px;
}

.form2 {
	background: #e92593;
    width: 200px;
    height: 422px;
    position: absolute;
    bottom: -33px;
    right: -59px;
    z-index: 3;
    transform: rotate(-15deg);
}

.form2::before {
	content: '';
    background: #00b5fa;
    height: 426px;
    width: 10px;
    position: absolute;
    bottom: -5px;
    right: -10px;
}

.form2::after {
	content: '';
    background: #fff;
    height: 426px;
    width: 10px;
    position: absolute;
    bottom: -5px;
    right: -20px;
}

.right-bg {
    background: url(../img/Brazil-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 662px;
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1680px) {
	.content .container {
		max-width: 1360px;
	}

	.left-bg {
		width: 38%;
	}

	.right-bg {
		width: 62%;
	}
}

@media screen and (max-width: 1366px) {
	.content .container {
		max-width: 1190px;
	}

	.left-bg {
		width: 36%;
	}

	.right-bg {
		width: 64%;
	}
}

@media screen and (max-width: 1190px) {
	.content .container {
		max-width: 900px;
	}

	.left-content {
		width: 350px;
	}

	.steps {
		max-width: 350px;
	}

	.right-content {
	    width: 460px;
	}

	.halls {
	    max-width: 460px;
	    margin-top: 40px;
	}

	.halls-text {
		max-width: 177px;
	    max-height: 64px;
        left: -40px;	
	}

	.halls-brazil {
	    max-width: 286px;
	    max-height: 62px;
	}

	.win-text {
	    max-width: 460px;	
	}

	.button-promo {
		width: 211px;
	}

	.button-promo span {
		font-size: 16px;
		height: 40px;
	    width: 120px;
	    text-align: center;
	}

	.button-promo .br-mobile {
		display: block;
	}

	.layer1, 
	.layer2, 
	.layer3 {
    	width: 211px;
	}

	.fan-promo {
		left: -70px;	
	}

	.left-bg {
	    width: 39%;
	}

	.right-bg {
	    width: 61%;
	}
}

@media screen and (max-width: 900px) {
	.br-mobile {
		display: block;
	}
	.logo-wrapper {
		max-width: 110px;
	    margin-left: auto;
    	margin-right: auto;
	}

	.content-promo {
	    flex-wrap: wrap;
	}

	.left-content {
		order: 1;
    	width: 100%;
	}

	.right-content {
		width: 100%;
	    height: 490px;
	}

	.halls {
		margin-top: 100px;
		text-align: center;
	}

	.halls-text {
	    max-width: 238px;
	    max-height: 86px;
	    left: 0;
	    right: 0;
	    top: -140px;
	}

	.halls .halls-bg {
		max-width: 308px;
		right: 0;
		left: 0;
	}

	.halls-brazil {
		max-width: 231px;
		right: 0;
		left: 0;
		bottom: 0px;
		max-height: 50px;
	}

	.win-text {
		max-width: 300px;
	}

	.button-promo, 
	.layer1, 
	.layer2, 
	.layer3 {
	    width: 194px;
    	height: 54px;
	}

	.button-promo {
		position: absolute;
		left: 0;
		right: -170px;
	}

	.button-promo span {
	    height: 26px;
	    width: 175px;
	    text-align: center;
	    line-height: 1;	
	    font-size: 16px;	
	}

	.fan-promo {
	    max-width: 245px;
	    left: -130px;
	    right: 0;
	    margin: auto;
	    bottom: -10px;
	    z-index: 4;
	}

	.steps {
		margin: auto;
    	max-width: 280px;
    	min-height: 690px;
	}

	.step-content {
		font-size: 17px;
		line-height: 22px;
	    max-width: 280px;
	}

	.step-img-wrapper {
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	}

	.step-img-wrapper:last-child {
		margin-right: 30px;
	}

	.footer-links li {
		display: block;
	}

	.footer-logo {
		margin-top: 40px;
	}

	.copyright {
		max-width: 260px;
	    margin: auto;		
	}

	.left-bg {
		width: 100%;
	    height: 720px;
		top: 520px;
	}

	.form1 {
		width: 100%;
		top: -10px;
		left: -10px;
		transform: rotate(4deg);
		height: 70px;
	}

	.form2 {
		width: 100%;
	    height: 50px;
	    top: 0;
	    right: 0;
	    transform: rotate(-2deg);
	}

	.form1::before,
	.form1::after,
	.form2::before,
	.form2::after {
		display: none;
	}

	.right-bg {
		width: 100%;
	    height: 520px;
	}
}

@media screen and (max-width: 380px) {
	.button-promo {
	    right: -110px;
	}

	.fan-promo {
	    left: -180px;
	}
}