a {
	transition: .4s all;
}

.br-mobile {
	display: none;
}

html, body {
    height: 100%;
}

body {
	font-family: 'Avenir Next Cyr';
	font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    width: 100%;
    min-height: 662px;
    position: relative;
    /*z-index: 3;*/
}

header {
	margin-top: 20px;
}

header .container,
section .container {
	/*max-width: 1164px;*/
	max-width: 1190px;
	width: 100%;
	margin: 0 auto;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
	max-width: 152px;
	position: relative;
	z-index: 2;
}

.content-promo .steps {
    max-width: 390px;
    min-height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.steps {
    max-width: 787px;
    min-height: 220px;
    margin-left: 350px;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 0;
}

.main-content .step {
	max-width: 242px;
	width: 100%;
    display: flex;
    flex-direction: column;
}

.main-content .step:last-child {
	position: relative;
	top: -82px;
}

.main-content .step:last-child .step-title {
	order: 1;
}

.main-content .step:last-child .step-content-wrapper {
	order: 2;
}

.main-content .step:last-child .step-img-wrapper {
	display: flex;
    order: 0;
}

.main-content .step:last-child .step3-img-wrapper:first-child {
	margin-right: 20px;
}

.step-title {
	font-family: 'PF Din Text Cond Pro';
	font-weight: bold;
    font-style: normal;
	color: #2ebfee;
	font-size: 24px;
	line-height: 1;
    text-transform: uppercase;
    text-shadow: 0px 2px #C1006C;
}

.content-promo .step-content {
	color: #fff;
	font-size: 17px;
    line-height: 20px;
    max-width: 250px;
    padding: 10px 0;
}

.step-content {
	color: #fff;
	font-size: 15px;
    line-height: 20px;
    max-width: 240px;
    padding: 10px 0;
}

.white-highlighter {
	background: #fff;
	color: #e92593;
    padding: 0 4px;
}

.step2-img-wrapper {
	max-width: 100px;
    margin: 10px 0;
}

.step-content-wrapper,
.step-img-wrapper {
	display: inline-block;
}

.step3-img-wrapper {
	max-width: 90px;
    margin: 15px 0;
}

.content-promo {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.left-content {
	width: 390px;
	z-index: 4;
}

.content-promo .right-content {
	width: 660px;
	position: relative;
}

.first-content {
	width: 540px;
	position: relative;
	margin: 40px auto 0;
}

.content-promo .halls {
	max-width: 660px;
	margin: auto;
	position: relative;
	z-index: 4;
}

.halls {
	max-width: 500px;
	margin: auto;
	position: relative;
	z-index: 4;
}

.content-promo .halls-text {
    max-width: 255px;
    max-height: 92px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -55px;
    margin: auto;
}

.halls-text {
    max-width: 186px;
    max-height: 67px;;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -55px;
    margin: auto;
}

.content-promo .halls-country {
	max-width: 412px;
	max-height: 95px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	margin: auto;
}

.halls-country {
    width: 320px;
    height: 68px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	margin: auto;
	/*background: url(../img/brazil-name@2x.png) center no-repeat;
    background-size: cover;*/
}

.halls-brazil {
	background: url(../img/brazil-name@2x.png) center no-repeat;
    background-size: cover
}

.halls-cuba {
	background: url(../img/cuba-name@2x.png) center no-repeat;
    background-size: cover
}

.halls-iceland {
	background: url(../img/iceland-name@2x.png) center no-repeat;
    background-size: cover
}

.halls-japan {
	background: url(../img/japan-name@2x.png) center no-repeat;
    background-size: cover
}

.halls-kenya {
	background: url(../img/kenya-name@2x.png) center no-repeat;
    background-size: cover
}

.halls-nepal {
	background: url(../img/nepal-name@2x.png) center no-repeat;
    background-size: cover
}

.halls-thailand {
	background: url(../img/thailand-name@2x.png) center no-repeat;
    background-size: cover
}

.terms-promo {
	margin: auto;
    color: #fff;
    text-align: center;
    font-size: 14px;
    position: relative;
    z-index: 4;
}

.win-text {
    margin: 10px auto;
    max-width: 504px;
    position: relative;
    z-index: 4;
}

.win-text-mob,
.fan-main-mob,
.mobile-table,
.page-lk .mobile-table,
.mob-block {
	display: none;
}

.button-promo {
    position: relative;
    width: 256px;
    height: 74px;
    margin: 30px auto;
    z-index: 3;
}

.button-promo span {
	font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: #fff;
    position: absolute;
    z-index: 4;
    transform: rotate(-4deg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 18px;
    width: 180px;
    text-transform: uppercase;
}

.layer1,
.layer2,
.layer3 {
    width: 256px;
    height: 74px;
    position: absolute;
    top: 4px;
    -webkit-transform: skew(-4deg) rotate(-4deg);
    -moz-transform: skew(-4deg) rotate(-4deg);
    -o-transform: skew(-4deg) rotate(-4deg);
    transform: skew(-4deg) rotate(-4deg);
}

.layer1 {
	background: #e92593;
    z-index: 3;
}

.layer2 {
	background: #fff;
	z-index: 2;
	top: 0px;
    right: -4px;
}

.layer3 {
	background: #00adee;
	z-index: 1;
    top: 8px;
    left: -4px;
}

.fan-promo {
    position: absolute;
    left: -40px;
    bottom: 0;
    z-index: 3;
}

.button-main {
	display: block;
    position: relative;
    width: 252px;
    height: 66px;
    margin: 30px auto;
    z-index: 2;
}

.button-main span {
	font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #e92593;
    position: absolute;
    z-index: 4;
    transform: rotate(-2deg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 18px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.main-layer1,
.main-layer2,
.main-layer3 {
    width: 252px;
    height: 66px;
    position: absolute;
    top: 4px;
    -webkit-transform: skew(-15deg) rotate(-2deg);
    -moz-transform: skew(-15deg) rotate(-2deg);
    -o-transform: skew(-15deg) rotate(-2deg);
    transform: skew(-15deg) rotate(-2deg);
    transition: all .4s;
}

.main-layer1 {
	background: #fff;
    z-index: 3;
}

.main-layer2 {
	background: #00adee;
	z-index: 2;
    top: -2px;
    left: 3px;
    width: 252px;
    transform: skew(-18deg) rotate(-2deg);
}

.main-layer3 {
    background: #C1006C;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 232px;
    transform: skew(-15deg) rotate(-3deg);
}

.button-main:hover .main-layer2 {
    left: 10px;
}

.button-main:hover .main-layer3 {
	left: -10px;
}

.second-content {
	position: relative;
    z-index: 2;
}

.fan {
	max-width: 350px;
    position: absolute;
    top: -90px;
    left: -65px;
    width: 350px;
    height: 129px;
}

.fan .fan-main-desk {
	position: absolute;
	width: 233px;
    height: 80px;
	transition: all .4s;
}

.brazil-fan {
	top: 0;
    left: 0;
    z-index: 7;
    transform: rotate(-15deg);
}

.brazil-fan.active {
	top: -5px;
    left: 15px;
}

.iceland-fan {
    top: 35px;
    left: 20px;
    z-index: 6;
    transform: rotate(-13deg);
}

.iceland-fan.active {
	top: 30px;
	left: 35px;
}

.cuba-fan {
	top: 70px;
    left: 38px;
    z-index: 5;
    transform: rotate(-10deg);
}

.cuba-fan.active {
	top: 65px;
	left: 53px;
}

.nepal-fan {
    top: 105px;
    left: 55px;
    z-index: 4;
    transform: rotate(-7deg);
}

.nepal-fan.active {
	top: 100px;
    left: 70px;
}

.japan-fan {
    top: 140px;
    left: 70px;
    z-index: 3;
    transform: rotate(-5deg);
}

.japan-fan.active {
    top: 135px;
    left: 85px;
}

.thailand-fan {
	top: 175px;
    left: 85px;
    z-index: 2;
    transform: rotate(-2deg);
}

.thailand-fan.active {
	top: 170px;
	left: 100px
}

.kenya-fan {
	top: 210px;
    left: 95px;
    z-index: 1;
    transform: rotate(2deg);
}

.kenya-fan.active {
	top: 205px;
	left: 110px;
}

footer {
    flex: 0 0 auto;
    width: 100%;
    min-height: 200px;
    background: #fff;
    position: relative;
    /*z-index: 3;*/
    padding: 20px 0;
}

.footer-links {
	width: 100%;
	margin: auto;
	text-align: center;
}

.footer-links li {
	display: inline-block;
	padding: 10px 20px;
}

.footer-links a {
	color: #1DC9FF;
	text-decoration: underline;
	font-size: 14px;
}

.footer-links a:hover {
	text-decoration: none;
}

.footer-logo {
    max-width: 140px;
    margin: 20px auto 30px;
}

.copyright {
    font-size: 11px;
    text-align: center;
    color: #561b74;
}

.left-bg {
    background: #e92593;
    height: 662px;
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.form1 {
    background: #e92593;
    width: 100px;
    height: 260px;
    position: absolute;
    top: -11px;
    right: -24px;
    z-index: 3;
    transform: rotate(10deg);
}

.form1::before {
    content: '';
    background: #00b5fa;
    height: 200px;
    width: 10px;
    position: absolute;
    bottom: 0;
    right: -10px;
}

.form1::after {
    content: '';
    background: #fff;
    height: 190px;
    width: 10px;
    position: absolute;
    bottom: 0;
    right: -20px;
}

.form2 {
	background: #e92593;
    width: 200px;
    height: 422px;
    position: absolute;
    bottom: -33px;
    right: -59px;
    z-index: 3;
    transform: rotate(-15deg);
}

.form2::before {
	content: '';
    background: #00b5fa;
    height: 426px;
    width: 10px;
    position: absolute;
    bottom: -5px;
    right: -10px;
}

.form2::after {
	content: '';
    background: #fff;
    height: 426px;
    width: 10px;
    position: absolute;
    bottom: -5px;
    right: -20px;
}

.right-bg {
    background: url(../img/Brazil-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 662px;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.first-bg {
    /*background: url(../img/brazil-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;*/
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.subfirst-bg {
	height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.second-bg {
    background: url(../img/main-pink.png) center no-repeat;
    background-size: cover;
    height: 460px;
    width: 100%;
    position: absolute;
    top: 300px;
    left: 0;
    z-index: 1;
}

.incline {
	width: 100%;
    height: 36px;
    z-index: 0;
}

.reincline {
	width: 100%;
    height: 36px;
    z-index: 0;
}

.incline.bottom {
    position: absolute;
    bottom: -18px;
    transform: rotate(1deg);
}

.reincline.bottom {
	position: absolute;
    bottom: -18px;
    transform: rotate(-1deg);
}

.incline.top {
    position: absolute;
    top: -18px;
    transform: rotate(-1deg);
}

.second-bg .incline {
	background: #e92593;
}

.socials .incline.top {
	background: #1DC9FF;
}

.socials .incline.bottom {
	background: #fff;
}

.main-prizes {
    background: url(../img/main-prizes-bg.png) center no-repeat;
    background-size: cover;
    position: relative;
    top: -10px;
    padding: 70px 0;
}

.title {
	font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.prizes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 300px;
}

.prize {
	width: 250px;
	height: 270px;
	background: url(../img/prize-bg.png) center no-repeat;
	background-size: cover;
	color: #fff;
    padding: 40px 20px 20px;
    position: relative;
    z-index: 1;
    transition: all .4s;
}

.prize::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 270px;
	background: url(../img/prize-bg.png) center no-repeat;
	background-size: cover;
	z-index: -1;
	transition: all .4s;
}

.prize:hover::before {
	transform: scale(1.05);
}

.prize:nth-child(1) {
	top: 30px;
}

.prize:nth-child(2) {
	top: 20px;
}

.prize:nth-child(3) {
	top: 10px;
}

.prize-title {
    font-family: 'PF Din Text Cond Pro';
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.prize-text {
	font-size: 16px;
    line-height: normal;
    margin-bottom: 20px;
}

.prize:nth-child(1) .prize-img {
	max-width: 160px;
}

.prize:nth-child(2) .prize-img {
	max-width: 149px;
}

.prize:nth-child(3) .prize-img {
	max-width: 92px;
}

.prize:nth-child(4) .prize-img  {
	max-width: 138px;
}

.prize-quantity {
	padding: 10px 0px 10px 5px;
	font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #00559B;
    width: 143px;
    height: 40px;
    position: absolute;
    right: -20px;
    bottom: 25px;
    z-index: 1;
}

.prize-quantity span {
	display: block;
	transform: rotate(-2deg);
}

.prize-quantity::before {
	content: '';
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	background: url(../img/prize-flag.png) center no-repeat;
    background-size: cover;
    width: 143px;
    height: 40px;
    z-index: -1;
}

.socials {
	position: relative;
    top: -10px;
	background: #1DC9FF;
	padding: 35px 0 55px;
	color: #fff;
}

.socials-text {
	font-size: 17px;
	text-align: center;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.social-block {
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
	margin: 10px;
}

.main-menu {
	position: relative;
    z-index: 2;
    max-width: 1038px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.main-menu a {
	color: #fff;
	margin-left: 25px;
    font-size: 16px;
}

.main-menu a.active,
.main-menu a:hover {
	text-decoration: underline;
}

.main-menu .logout-link {
	font-size: 11px;
	position: absolute;
    width: 48px;
    top: 30px;
    right: 0;
}

.brazil {
    background: url(../img/brazil-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.iceland {
    background: url(../img/iceland-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.cuba {
    background: url(../img/cuba-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.nepal {
    background: url(../img/nepal-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.japan {
    background: url(../img/japan-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.thailand {
    background: url(../img/thailand-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.kenya {
    background: url(../img/kenya-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.first-bg.kenya {
    background: url(../img/kenya-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.first-bg.thailand {
    background: url(../img/thailand-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.first-bg.japan {
    background: url(../img/japan-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.first-bg.nepal {
    background: url(../img/nepal-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.first-bg.cuba {
    background: url(../img/cuba-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.first-bg.iceland {
    background: url(../img/iceland-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.first-bg.brazil {
    background: url(../img/brazil-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.fadein {
	animation: fadein .4s;
}

.fadeout {
	animation: fadeout .4s;
}

@keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.bg-block {
	position: relative;
    margin-top: -64px;
}

.page-prizes {
	padding: 120px 0 200px;
}

.page-prizes .title {
	margin-bottom: 40px;
}

.bg-block .reincline.bottom {
	background: #fff;
}

.page-winners {
	padding: 120px 0 170px;
}

.page-feedback {
	padding: 120px 0 160px;
}

.page-faq {
	padding: 120px 0 100px;
}

.page-product {
	padding: 120px 0;
}

.page-lk {
	padding: 120px 0 100px;
}

.page-lk .title {
	margin-bottom: 20px;
}

.feedback-page .title {
	margin-bottom: 20px;
}

.feedback-text {
	max-width: 380px;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.page-product .title {
	margin-bottom: 15px;
}

.page-product .product {
	color: #fff;
	text-align: center;
}

.bg-slider {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.product-bg {
	min-height: 725px;
}

.product-bg img {
	opacity: 0;
}

.product-img {
	max-width: 450px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.product-name {
	font-family: 'PF Din Text Cond Pro';
	font-weight: bold;
	font-size: 21px;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.product-desc {
	font-size: 16px;
	line-height: 21px;
    max-width: 320px;
    margin: auto;
    min-height: 63px;
}

.product-desc {
	margin-bottom: 20px;
}

.page-product .slick-arrow {
	width: 25px;
    height: 40px;
	font-size: 0;
	line-height: 0;
	border: 0;
	background: transparent;
	position: relative;
    cursor: pointer;
    transition: .4s all;
    position: absolute;
    z-index: 2;
    top: 120px;
    margin: auto;
}

.page-product .slick-prev {
	left: 20%;
}

.page-product .slick-next {
    right: 20%;
}

.page-product .slick-arrow:hover {
	transform: scale(1.2);
}

.page-product .slick-arrow::after {
    content: '';
    position: absolute;
    display: block;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 40px;
}

.page-product .slick-prev::after {
	background: url(../img/arrow-left.png) center no-repeat;
}

.page-product .slick-next::after {
	background: url(../img/arrow-right.png) center no-repeat;
}

.page-product .slick-dots {
	position: absolute;
    bottom: -70px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.page-product .slick-dots li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
    background: #fff;
    border-radius: 50px;
}

.page-product .slick-dots li.slick-active {
	background: #E92593;
}

.page-product .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.default-button {
    width: 140px;
    height: 40px;
    padding: 13px 0;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin: auto auto 10px;
    position: relative;
}

.default-button.big {
	width: 260px;
    height: 50px;
    padding: 17px 0;
    font-size: 16px;
}

.default-button.white-halls {
	background: #fff;
	color: #E92593;
}

.default-button.white-halls::before {
	content: '';
    position: absolute;
    z-index: -1;
    bottom: -3px;
    left: 10px;
    width: 120px;
    height: 30px;
    background: #E92593;
    transform: rotate(2deg);
    transition: all .4s;
}

.default-button.big.white-halls::before {
	width: 240px;
}

.default-button.blue-halls {
	background: #1DC9FF;
	color: #fff;
}

.default-button.blue-halls::before {
	content: '';
    position: absolute;
    z-index: -1;
    bottom: -3px;
    left: 10px;
    width: 120px;
    height: 30px;
    background: #00559B;
    transform: rotate(2deg);
    transition: all .4s;
}

.default-button.big.blue-halls::before {
	width: 240px;
}

.halls-modal .default-button.big.blue-halls::before {
	background: #C1006C;
}

.default-button:hover::before {
	bottom: 5px;
}

.page-product .slick-slide {
	outline: none;
}

.feedback-form {
	position: relative;
	z-index: 1;
}

.inputs-wrap {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-wrap {
	max-width: 280px;
    margin: 20px;
}

form .input-wrap input,
form .input-wrap select,
form .input-wrap textarea {
	width: 100%;
	min-width: 280px;
	height: 50px !important;
	font-family: 'Avenir Next Cyr';
    font-weight: 500;
    font-style: normal;
    padding-left: 20px !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
    margin: 0 !important;
}

.feedback-form .input-wrap input,
.feedback-form .input-wrap select,
.feedback-form .input-wrap textarea {
	font-size: 12px;
	line-height: 14px;
	border: 2px solid transparent !important;
}

.input-wrap input:focus,
.input-wrap select:focus,
.input-wrap textarea:focus {
	box-shadow: none !important;
}

.feedback-form .input-wrap textarea {
	height: 190px !important;
	resize: none;
	padding-top: 16px;
	outline: none;
	overflow: hidden;
	border-radius: 0;
}

.feedback-form .input-wrap .scroll-textarea {
	border: none;
    max-height: 190px;
}

.right-form .input-wrap {
	max-height: 190px;
}

.input-wrap .dropdown-content {
	max-height: 200px;
	top: 50px !important;
}

.select-wrapper .caret {
	display: none;
}

.select-wrapper::after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 20px;
	right: 20px;
	width: 13px;
	height: 8px;
	background: url(../img/arrow-down.svg) center no-repeat;
	background-size: cover;
}

.feedback-form .dropdown-content li>a, 
.feedback-form .dropdown-content li>span,
.filter .dropdown-content li>a, 
.filter .dropdown-content li>span,
.modal-form .dropdown-content li>a, 
.modal-form .dropdown-content li>span {
	font-size: 12px;
    color: #00559B;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled>span {
	color: rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.08);
    pointer-events: none;
}

.select-dropdown.dropdown-content li:not(.disabled):hover>span
.select-dropdown.dropdown-content li.selected,
.select-dropdown.dropdown-content li:not(.disabled):hover,
.feedback-form .dropdown-content li.selected>a, 
.feedback-form .dropdown-content li.selected>span,
.feedback-form .dropdown-content li:not(.disabled):hover>a,
.feedback-form .dropdown-content li:not(.disabled):hover>span,
.filter .dropdown-content li.selected>a, 
.filter .dropdown-content li.selected>span,
.filter .dropdown-content li:not(.disabled):hover>a,
.filter .dropdown-content li:not(.disabled):hover>span,
.modal-form .dropdown-content li.selected>a, 
.modal-form .dropdown-content li.selected>span,
.modal-form .dropdown-content li:not(.disabled):hover>a,
.modal-form .dropdown-content li:not(.disabled):hover>span {
	background-color: #E92593;
	color: #fff;
}

.dropdown-content {
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
}

.dropdown-content::-webkit-scrollbar {
	width: 0;
}

.li-wrap {
    max-height: 200px;
    -webkit-overflow-scrolling: touch;
}

.feedback-button {
	margin-top: 10px;
}

.incline-wrap {
	position: relative;
	max-width: 690px;
	width: 100%;
	margin: auto;
}

.incline-wrap::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 100%;
	height: 30px;
	background: #fff;
	transform: rotate(-1deg);
}

.faq-wrap {
	max-width: 690px;
    max-height: 400px;
    height: 400px;
    margin: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    padding: 20px 60px;
    position: relative;
}

.faq-wrap,
.table-wrap,
.my-prizes {
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
}

.faq-wrap::-webkit-scrollbar,
.table-wrap::-webkit-scrollbar,
.my-prizes::-webkit-scrollbar {
	width: 0;
}

.faq-wrap.scroll-wrapper {
	padding: 20px 60px 20px 40px !important;
}

.faq-collapsible {
	border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}

.faq-collapsible .collapsible-header {
    border: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #00559B;
    padding: 10px 0 10px 35px;
}

.faq-collapsible .collapsible-body {
	border: none;
    padding: 10px 0 10px 35px;
    font-size: 14px;
    line-height: 21px;
    color: #00559B;
}

.faq-collapsible li {
	position: relative;
}

.faq-collapsible .collapsible-icon {
    position: absolute;
    top: 10px;
    left: 0;
	z-index: 1;
	background: url(../img/plus.svg) center no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
}

.faq-collapsible li.active .collapsible-icon {
	background: url(../img/minus.svg) center no-repeat;
	background-size: cover;
}

.filters-wrap {
	max-width: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 20px;
}

.filter {
    font-size: 16px;
    max-width: 280px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter .select-wrapper input.select-dropdown {
	height: 19px;
	line-height: 1;
    margin: 0;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    border-bottom: 2px dotted #fff;
}

.filter .select-wrapper::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 0px;
    width: 7px;
    height: 5px;
    background: url(../img/ar-d.svg) center no-repeat;
    background-size: cover;
}

.filter .dropdown-content {
	top: 25px !important;
}

.table-wrap {
    background: #fff;
}

.page-winners .table-wrap {
    max-width: 690px;
    max-height: 260px;
    height: 260px;
    margin: auto;
    overflow: auto;
}

.page-winners .table-wrap.scroll-wrapper {
	padding: 40px 50px 0 40px !important;
}

table {
	font-size: 14px;
	line-height: 21px;
	color: #00559B;
}

table tr {
	border: none;
}

table td, 
table th {
	padding: 10px 5px;
}

td img {
	margin-right: 10px;
}

.page-winners td img {
	width: 30px;
}

td img, 
td span {
	vertical-align: middle;
}

.search {
	max-width: 240px;
	width: 100%;
	position: relative;
}

.page-winners .search input {
	width: 100%;
	min-width: 240px;
	height: 50px !important;
	font-family: 'Avenir Next Cyr';
    font-weight: 500;
    font-style: normal;
    padding-left: 20px !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    font-size: 12px;
	line-height: 14px;
	border: 2px solid transparent !important;
}

.search svg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto;
	width: 18px;
	height: 18px;
	cursor: pointer;
	transition: all .4s;
}

.search svg:hover path {
	fill: #1DC9FF;
	transition: all .4s;
}

.fio {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #fff;
}

.user-contacts {
	font-size: 12px;
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}

.user-contacts span {
	margin: 10px;
    display: inline-block;
}

.lk-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 920px;
    margin: auto;
}

.friday-wrap {
	color: #fff;
    padding: 20px 30px 50px;
    position: relative;
    width: 200px;
    height: 340px;
}

.friday-brazil {
	background: url(../img/friday-brazil@2x.png) center no-repeat;
	background-size: cover;
}

.friday-cuba {
	background: url(../img/friday-cuba@2x.png) center no-repeat;
	background-size: cover;
}

.friday-iceland {
	background: url(../img/friday-iceland@2x.png) center no-repeat;
	background-size: cover;
}

.friday-japan {
	background: url(../img/friday-japan@2x.png) center no-repeat;
	background-size: cover;
}

.friday-kenya {
	background: url(../img/friday-kenya@2x.png) center no-repeat;
	background-size: cover;
}

.friday-nepal {
	background: url(../img/friday-nepal@2x.png) center no-repeat;
	background-size: cover;
}

.friday-thailand {
	background: url(../img/friday-thailand@2x.png) center no-repeat;
	background-size: cover;
}

.friday-title {
	font-family: 'PF Din Text Cond Pro';
	font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.lk-friday-logo {
	margin-bottom: 90px;
}

.friday-button {
	position: relative;
	z-index: 1;
}

.page-lk .incline-wrap {
	position: relative;
    max-width: 460px;
    width: 100%;
    margin: 0;
}

.page-lk .table-wrap {
	height: 340px;
	background: url(../img/table-white-block.png) center no-repeat;
	background-size: cover;
}

.page-lk .incline-wrap::after {
    display: none;
}

.page-lk .table-wrap.scroll-wrapper {
	padding: 20px 30px 45px !important;
}

.table-title,
.my-prizes-title {
	font-family: 'PF Din Text Cond Pro';
	font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    color: #00559B;
    margin-bottom: 10px;
}

.my-prizes-title {
	margin-bottom: 20px;
}

.my-prizes-wrap {
    position: relative;
    width: 200px;
    height: 340px;
    background: url(../img/white-block.png) center no-repeat;
	background-size: cover;
}

.page-lk td div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    max-width: 30px;
    width: 100%;
    max-height: 30px;
    overflow: hidden;
}

.page-lk tr.rejected,
.page-lk tr.rejected a {
	color: #E92593;
}

.page-lk tr.rejected a {
	text-decoration: underline;
}

.page-lk tr.rejected a:hover {
	text-decoration: none;
}

.rejected-photo {
	position: relative;
}

.rejected-photo::before,
.rejected-photo::after {
	content: '';
	position: absolute;
    top: -8px;
    height: 45px;
    width: 3px;
    background: #fff;
}

.rejected-photo::before {
	left: 13px;
    transform: rotate(-45deg);
}

.rejected-photo::after {
    right: 13px;
    transform: rotate(45deg);
}

.table-button {
    position: absolute;
    z-index: 1;
    bottom: -16px;
    left: 0;
    right: 0;
}

.table-button .default-button.blue-halls:hover {
	background: #E92593;
}

.my-prizes {
	overflow: auto;
    max-height: 340px;
}

.my-prizes.scroll-wrapper {
	padding: 20px 30px 50px !important;
}

.my-prize {
	color: #00559B;
	font-size: 12px;
	line-height: 14px;
    margin-bottom: 30px;
}

.my-prize-img,
.my-prize-date,
.my-prize-name {
	margin-bottom: 5px;
}

.my-prize-button a {
	background: url(../img/rectangle-bg.svg) center no-repeat;
	background-size: cover;
	width: 78px;
	height: 22px;
	color: #fff;
	display: block;
    line-height: 22px;
    padding-left: 10px;
}

.my-prize-status {
	color: #8B8B8B;
}

.halls-modal {
	max-width: 300px;
	width: 100%;
	max-height: 90%;
	background: #E92593;
	color: #fff;
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
}

.halls-modal::-webkit-scrollbar {
	width: 0;
}

.halls-modal .modal-content {
	position: relative;
	padding: 30px 20px 40px;
}

.halls-modal .modal-close:not(.default-button) {
	position: absolute;
	top: 10px;
	right: 10px;
}

.halls-modal .modal-close:not(.default-button):hover {
    transform: scale(1.1);
}

.modal-title {
	font-size: 21px;
	line-height: normal;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.modal-form .input-wrap,
.modal-form .checkbox-wrap {
	max-width: 260px;
	margin: 20px 0;
}

#auth .modal-form .input-wrap:nth-child(1) {
	margin: 40px 0 20px;
}

#auth .modal-form .input-wrap:nth-child(2) {
	margin: 20px 0 0;
}

.modal-form .input-wrap input {
	min-width: 260px;
    font-size: 12px;
    line-height: 14px;
    border: 2px solid transparent !important;
}

.modal-button {
	margin: 20px 0;
}

.halls-modal .modal-content a:hover {
	color: #1DCCFF;
}

.halls-modal .modal-content .modal-button a:hover {
	color: #fff;
}

.forgot-password a,
.registration-info a {
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	text-decoration: underline;
	display: inline-block;
}

.forgot-password {
	text-align: right;
}

.forgot-password a:hover {
	text-decoration: none;
}

.registration-info {
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

.registration-info a {
	font-size: 16px;
	line-height: 20px;
}

.modal-text {
	font-size: 16px;
	line-height: normal;
	text-align: center;
	margin-bottom: 20px;
}

#registration .modal-form .input-wrap input,
#get-prize .modal-form .input-wrap input,
#get-prize-nalog .modal-form .input-wrap input {
	font-size: 16px;
	color: #000;
}

#registration .modal-form .input-wrap input::-moz-placeholder,
#registration .modal-form .input-wrap input::-ms-placeholder,
#registration .modal-form .input-wrap input:-ms-placeholder,
#registration .modal-form .input-wrap input::-webkit-placeholder,
#registration .modal-form .input-wrap input::placeholder {
	font-size: 12px;
}

.modal-form .checkbox-wrap label {
	color: #fff;
    font-size: 12px;
}

.modal-form .checkbox-wrap span {
    font-size: 12px;
}

.modal-form .checkbox-wrap.pers-data span {
	line-height: 14px;
}

.modal-form .checkbox-wrap a {
	color: #fff;
    text-decoration: underline;
}

.modal-form .checkbox-wrap [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #fff;
    top: 0px;
    z-index: 0;
    border-radius: 0;
}

.modal-form .checkbox-wrap [type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 0;
    left: 1px;
    width: 10px;
    height: 15px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid #00559B;
    border-bottom: 3px solid #00559B;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.modal-form .checkbox-wrap [type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    background-color: #fff;
    z-index: 0;
    border-radius: 0;
}

.modal-personal {
	font-size: 16px;
	font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.modal-fio {
    margin-bottom: 10px;
}

.input-drop {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-drop .input-wrap {
	max-width: 120px;
	margin-top: 0;
}

.input-drop .input-wrap input {
	min-width: 120px;
}

.burger {
	display: none;
}

.upload-wrap {
	display: flex;
    align-items: center;
    margin: 20px 0;
}

.upload {
	width: 60px;
	margin-right: 10px;
}

.upload .dropify-wrapper,
.upload .dropify-wrapper .dropify-preview {
	padding: 0;
	border: 0;
	width: 60px;
}

.upload .dropify-wrapper.touch-fallback {
	height: 60px !important;
}

.upload .dropify-wrapper .dropify-preview .dropify-infos {
	display: none;
}

.upload .dropify-clear {
	top: 0;
    left: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
}

.upload .dropify-wrapper.touch-fallback .dropify-clear {
	bottom: inherit;
}

.upload .dropify-wrapper .dropify-message p {
	display: none;
}

.upload .dropify-wrapper .dropify-message span.file-icon::before {
	content: '';
	background: url(../img/upload.svg);
    width: 60px;
    height: 60px;
    display: block;
    margin: 0;
}

.upload .dropify-wrapper.touch-fallback .dropify-message {
	padding: 0;
    top: 0;
    transform: none;
}

.upload .dropify-wrapper.touch-fallback .dropify-preview .dropify-render {
	display: initial;
}

.upload .dropify-wrapper.touch-fallback .dropify-preview .dropify-render img {
	-webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

#get-prize-nalog .modal-button {
	margin-top: 40px;
}

#get-prize-success .modal-button {
	margin-top: 30px;
}

.delivery-address {
	background: #fff;
	padding: 20px;
	color: #00559B;
	font-size: 16px;
}

.modal-text a {
	color: #fff;
	text-decoration: underline;
}

/*SCROLL ---------------------- */
body .scroll-element,
body .scroll-element div {
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 5;
}

body .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

body .scroll-element.scroll-x {
	bottom: 1px;
	height: 8px;
	left: 0;
	width: 100%;
	display: none !important;
}

.collection-list.scroll-wrapper > .scroll-content {
  padding-bottom: 10px;
}

body .collection-list .scroll-element.scroll-y {
  display: none;
}

body .scroll-element.scroll-x .scroll-element_track {
	top: 0;
	width: 100%;
	height: 8px;
	display: none !important;
}

body .scroll-element.scroll-y {
  	height: 100%;
    right: 6px;
    top: 10px;
    bottom: 10px;
    width: 6px;
}

.page-lk .scroll-element.scroll-y,
.page-lk .scroll-element div {
	height: 96%;
}

body .scroll-element .scroll-element_outer {
  overflow: visible;
}

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
  border-radius: 0;
}

body .scroll-element .scroll-element_track {
	background: #1DC9FF;
    left: 0;
    right: 0;
    width: 2px;
    margin: auto;
}

body .scroll-element .scroll-bar {
  	width: 6px;
    background-color: #FF00C8;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
}

body .scroll-element:hover .scroll-bar {
  	background-color: #7ecff5;
}

body .scroll-element.scroll-draggable .scroll-bar {
  	background-color: #7ecff5;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  	left: -12px;
  	display: none !important;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  	top: -12px;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  	left: -12px;
  	display: none !important;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  	top: -12px;
}

/**/

@media screen and (max-width: 1680px) {
	.second-bg {
		top: 280px;
	}
}

@media screen and (max-width: 1366px) {
	.second-bg {
		top: 260px;
	}

	.main-prizes,
	.socials {
		top: -30px;
	}

	.socials {
	    margin-bottom: -30px;
	}
}

@media screen and (max-width: 1366px) {
	.prizes {
	    justify-content: space-around;
	}
}

@media screen and (max-width: 1200px) {
	header .container, 
	section .container {
		max-width: 1000px;
		padding: 0 20px;
	}

	header .container {
	    align-items: baseline;
	}

	.burger {
		display: block;
		z-index: 2;
	}

	.main-menu {
		display: none;
	}

	.mobile-menu {
		width: 278px;
		height: 547px;
		background: #00559B;
		color: #fff;
	    padding: 20px 25px 20px 35px;
	}

	.navig-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	.link-wrap a {
		display: block;
		color: #fff;
	    font-size: 21px;
	    line-height: 1;
    	padding: 13px 0;
	}

	.link-wrap a.active {
		text-decoration: underline;
	}

	.mobile-menu .logout-link {
		font-size: 11px;
		padding-top: 30px;
	}

	.logo-wrapper {
		max-width: 114px;
	}

	.prize,
	.prize::before {
	    width: 220px;
    	height: 300px;
	}

	.prize-quantity {
		right: -10px;
	}

	.main-prizes, 
	.socials {
	    top: -50px;
	}

	.socials {
	    margin-bottom: -50px;
	}

	.second-bg {
		height: 470px;
	}
}

@media screen and (max-width: 1190px) {
	.br-mobile {
		display: block;
	}
}

@media screen and (max-width: 1000px) {
	.logo-wrapper {
		margin: auto;
	}

	.mobile-menu .logo-wrapper {
		margin: 0;
	}

	.first-content {
		width: 100%;
	    margin: 80px auto 0;
	}

	.halls {
	    max-width: 308px;
	    text-align: center;
	}

	.halls-text {
	    max-width: 183px;
	    max-height: 66px;
	    left: 0;
	    right: 0;
	    top: -115px;
	}

	.halls-bg {
	    max-width: 308px;
    	margin: auto;
	}

	.halls-country {
	    width: 231px;
    	height: 50px;
	}

	.win-text-desk,
	/*.fan-main-desk,*/
	.desktop-table {
		display: none;
	}

	.win-text-mob,
	.fan-main-mob {
		display: block;
		margin: auto;
	}

	.mobile-table,
	.page-lk .mobile-table {
		display: block;
	}

	.fan {
	    max-width: 283px;
	    width: 283px;
	    height: 210px;
	    position: relative;
	    top: 10px;
	    left: -10px;
	    margin: auto;
	}

	.fan .fan-main-desk {
		width: 171px;
    	height: 59px;
	}

	.brazil-fan {
		top: 0;
	    left: 0;
	    z-index: 7;
	    transform: rotate(-15deg);
	}

	.brazil-fan.active {
		top: -5px;
	    left: 15px;
	}

	.iceland-fan {
        top: 20px;
    	left: 25px;
	    z-index: 6;
	    transform: rotate(-13deg);
	}

	.iceland-fan.active {
		top: 15px;
		left: 45px;
	}

	.cuba-fan {
		top: 45px;
    	left: 50px;
	    z-index: 5;
	    transform: rotate(-10deg);
	}

	.cuba-fan.active {
		top: 40px;
		left: 70px;
	}

	.nepal-fan {
	    top: 65px;
    	left: 75px;	    
    	z-index: 4;
	    transform: rotate(-7deg);
	}

	.nepal-fan.active {
		top: 60px;
	    left: 95px;
	}

	.japan-fan {
	    top: 90px;
    	left: 95px;
	    z-index: 3;
	    transform: rotate(-5deg);
	}

	.japan-fan.active {
	    top: 85px;
	    left: 115px;
	}

	.thailand-fan {
		top: 115px;
    	left: 115px;
	    z-index: 2;
	    transform: rotate(-2deg);
	}

	.thailand-fan.active {
		top: 110px;
		left: 135px
	}

	.kenya-fan {
		top: 140px;
    	left: 130px;	    
    	z-index: 1;
	    transform: rotate(2deg);
	}

	.kenya-fan.active {
		top: 135px;
		left: 140px;
	}

	.steps {
		max-width: 100%;
    	flex-direction: column;
   		align-items: center;
		margin: 0 auto;
		padding: 0;
	}

	.main-content .step {
		padding: 10px 0;
	}

	.main-content .step:last-child {
	    top: 0;
	}

	.main-content .step:last-child .step-img-wrapper {
		order: 2;
	}

	.second-bg {
		background: #E92593;
		height: 860px;
		top: 410px;
	}

	.second-bg::after {
		content: '';
	    background: #e92593;
	    position: absolute;
	    z-index: 3;
	    width: 100%;
	    top: 0px;
	    left: -25px;
	    transform: rotate(12deg);
	    height: 110px;
	}

	.second-bg::before {
	    content: '';
	    background: #e92593;
	    position: absolute;
	    z-index: 3;
	    width: 100%;
	    height: 70px;
	    top: -15px;
	    right: 2px;
	    transform: rotate(-5deg);
	}

	.main-prizes, 
	.socials {
		top: -10px;
	}

	.socials {
		margin-bottom: 0;
	}

	.prizes {
		flex-direction: column;
    	align-items: center;
	}

	.prize:nth-child(1),
	.prize:nth-child(2),
	.prize:nth-child(3) {
		top: 0;
	}

	.prize {
	    width: 250px;
    	height: 270px;
	    margin: 10px auto;
	}

	.prize::before {
		width: 250px;
    	height: 270px;
	}

	.products-slider {
		max-width: 320px;
		width: 100%;
		margin: auto;
	}

	.product-img {
		max-width: 240px;
	}

	.page-product .slick-arrow {
		top: 55px;
	}

	.page-product .slick-prev {
		left: 0; 
	}

	.page-product .slick-next {
		right: 0; 
	}

	.page-winners {
		padding-bottom: 120px;
	}

	.page-winners .table-wrap,
	.page-winners .incline-wrap {
		max-width: 320px;
	}

	/*.page-winners .table-wrap {
		padding: 20px;
		box-sizing: border-box !important;
	}*/

	.page-winners .table-wrap.scroll-wrapper {
		padding: 20px !important;
		box-sizing: border-box !important;
	}

	table {
		font-size: 12px;
		line-height: 14px;
	}

	.page-winners td img {
		display: block;
	    margin-right: 0;
	}

	.page-winners table td, 
	.page-winners table th {
   		vertical-align: top;
	}

	.page-winners table td:last-child {
		max-width: 100px;
	}

	.filters-wrap {
		max-width: 300px;
    	flex-direction: column;
	}

	.filter {
		display: flex;
		order: 1;
    	margin: auto;
	}

	.search {
		display: flex;
		order: 0;
	    margin: 0 auto 20px;
	}

	.footer-links li {
		display: block;
	}

	.inputs-wrap {
		flex-direction: column;
	}

	.right-form .input-wrap {
		margin-top: 0;
	}

	.faq-wrap.scroll-wrapper {
	    padding: 20px 30px 20px 20px !important;
	}

	.page-lk .incline-wrap {
		max-width: 320px;
		margin: auto;
	}

	.page-lk td .table-data {
		max-width: 78px;
		margin-right: 0;
	}

	.mobile-lk-wrap {
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    margin: 40px auto 0;
	    overflow: scroll;
	    max-width: 420px;
	}

	.my-prizes-wrap {
	    margin-right: 20px;
	}
	
	.mob-block {
		display: block;
	}

	.desk-block {
		display: none;
	}

	.mob-block.browser-default {
	    height: 25px;
	    line-height: 1;
	    margin: 0;
	    border: none;
	    color: #fff;
	    font-size: 16px;
	    font-weight: 600;
	    margin-left: 5px;
	    border-bottom: 2px dotted #fff;
	    background: none;
	    padding: 0;
	    border-radius: 0;
	    outline: none;
	    box-shadow: none;
	}

	.mob-fix {
		background: #e92593;
	    position: absolute;
	    z-index: 3;
	    width: 7px;
	    height: 70px;
	    top: -52px;
	    right: 0px;
	}

}

@media screen and (max-width: 768px) {
	.mob-fix {
	    top: -48px;
	}
}

@media screen and (max-width: 640px) {
	.mob-fix {
	    top: -42px;
	}
}

@media screen and (max-width: 500px) {
	.mob-fix {
	    top: -36px;
	}
}

@media screen and (max-width: 420px) {
	.mob-fix {
	    top: -32px;
	}
}

@media screen and (max-width: 420px) {
	.mob-fix {
	    top: -32px;
	}
}

@media screen and (max-width: 375px) {
	.mob-fix {
	    top: -31px;
	}
}

@media screen and (max-width: 360px) {
	.mob-fix {
	    top: -30px;
	}
}

@media screen and (max-width: 320px) {
	.second-bg {
		height: 820px;
	}

	.mob-fix {
	    top: -28px;
	}

	.halls-country {
	    right: 30px;
	}

	.page-product .slick-prev {
		left: -10px; 
	}

	.page-product .slick-next {
		right: -10px; 
	}

	.page-lk .table-wrap.scroll-wrapper {
	    padding: 20px 20px 45px !important;
	}

	.page-lk .default-button.blue-halls {
		width: 240px;
	}

	.page-lk .default-button.big.blue-halls::before {
		width: 220px;
	}

	.page-lk td .table-data {
		max-width: 68px;
	}
}