{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Halls - <!-- title --></title>
    {% compress css %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.scrollbar.css' %}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/dropify.min.css' %}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen,projection"/>
    {% endcompress %}
</head>
<body>
    <div class="wrapper">
        {% include 'include/header.html' %}
        
        {% block content %}{% endblock %}

        {% include 'include/footer.html' %}
    </div>
    <div id="auth" class="modal halls-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close"><img src="{% static 'img/close.svg' %}" alt="X"></a>
            <div class="modal-title">Войти на сайт</div>
            <form class="modal-form">
                <div class="input-wrap">
                    <input type="text" class="phone-mask" placeholder="Номер мобильного">
                </div>
                <div class="input-wrap">
                    <input type="password" placeholder="Пароль">
                </div>
                <div class="forgot-password">
                    <a href="#!">Не помнишь пароль?</a>
                </div>
                <div class="modal-button">
                    <a href="#!" class="default-button big blue-halls">Войти</a>
                </div>
            </form>
            <div class="registration-info">
                Если ты впервые на сайте,<br>тебе необходимо<br>
                <a href="#registration" class="modal-trigger">Зарегистрироваться</a>
            </div>
        </div>
    </div>
    <div id="registration" class="modal halls-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close"><img src="{% static 'img/close.svg' %}" alt="X"></a>
            <div class="modal-title">Регистрация</div>
            <div class="modal-text">Внимательно заполни все пункты анкеты.</div>
            <form class="modal-form">
                <div class="input-wrap">
                    <input type="text" placeholder="Фамилия">
                </div>
                <div class="input-wrap">
                    <input type="text" placeholder="Имя">
                </div>
                <div class="input-wrap">
                    <input type="text" placeholder="Отчество">
                </div>
                <div class="input-wrap">
                    <input type="text" placeholder="Город">
                </div>
                <div class="input-wrap">
                    <input type="text" class="phone-mask" placeholder="Номер мобильного">
                </div>
                <div class="input-wrap">
                    <input type="text" placeholder="E-mail">
                </div>
                <div class="checkbox-wrap">
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" />
                        <span>Я согласен с <a href="#!">Правилами акции</a></span>
                    </label>
                </div>
                <div class="checkbox-wrap pers-data">
                    <label>
                        <input type="checkbox" class="filled-in" />
                        <span>Я согласен на обработку моих персональных данных</span>
                    </label>
                </div>
                <div class="captcha-wrap">
                    <img src="{% static 'img/captcha.png' %}" alt="" class="responsive-img">
                </div>
                <div class="modal-button">
                    <a href="#!" class="default-button big blue-halls">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
    <div id="get-prize" class="modal halls-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close"><img src="{% static 'img/close.svg' %}" alt="X"></a>
            <div class="modal-title">Получение приза</div>
            <div class="modal-text">Заполните форму для получения приза Почтой России</div>
            <div class="modal-personal">
                <div class="modal-fio">
                    Загороднева<br>
                    Анастасия Викторовна
                </div>
                <div class="modal-phone">+7 (900) 000-00-00</div>
            </div>
            <form class="modal-form">
                <div class="input-wrap">
                    <select>
                        <option value="" disabled selected>Регион</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
                <div class="input-wrap">
                    <select>
                        <option value="" disabled selected>Город</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
                <div class="input-wrap">
                    <select>
                        <option value="" disabled selected>Улица</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
                <div class="input-drop">
                    <div class="input-wrap">
                        <select>
                            <option value="" disabled selected>Дом</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                            <option value="5">Option 5</option>
                        </select>
                    </div>
                    <div class="input-wrap">
                        <input type="text" placeholder="Квартира">
                    </div>
                </div>
                <div class="modal-button">
                    <a href="#get-prize-nalog" class="default-button big blue-halls modal-trigger">Подтвердить</a>
                </div>
            </form>
        </div>
    </div>
    <div id="get-prize-nalog" class="modal halls-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close"><img src="{% static 'img/close.svg' %}" alt="X"></a>
            <div class="modal-title">Твои данные</div>
            <div class="modal-text">По законодательству для получения выигрыша требуются паспортные данные и ИНН. Внимательно заполни форму:</div>
            <form class="modal-form">
                <div class="input-wrap">
                    <input type="text" placeholder="Фамилия">
                </div>
                <div class="input-wrap">
                    <input type="text" placeholder="Имя">
                </div>
                <div class="input-wrap">
                    <input type="text" placeholder="Отчество">
                </div>
                <div class="input-wrap">
                    <input type="text" placeholder="Дата рождения (ДД.ММ.ГГГГ)">
                </div>
                <div class="modal-text">Данные паспорта</div>
                <div class="input-drop">
                    <div class="input-wrap">
                        <input type="text" placeholder="Серия">
                    </div>
                    <div class="input-wrap">
                        <input type="text" placeholder="Номер">
                    </div>
                </div>
                <div class="input-wrap">
                    <input type="text" placeholder="Дата выдачи (ДД.ММ.ГГГГ)">
                </div>
                <div class="input-wrap">
                    <input type="text" placeholder="Кем выдан">
                </div>
                <div class="input-wrap">
                    <input type="text" placeholder="Прописка (как в паспорте)">
                </div>
                <div class="modal-text">ИНН</div>
                <div class="input-wrap">
                    <input type="text" placeholder="ИНН (12 цифр)">
                </div>
                <div class="modal-text">Фотографии или сканы</div>
                <div class="upload-wrap">
                    <div class="upload">
                        <input type="file" name="file-passport1" class="dropify" data-height="60" />
                    </div>
                    <div class="upload-text">Паспорт, разворот с фотографией</div>
                </div>
                <div class="upload-wrap">
                    <div class="upload">
                        <input type="file" name="file-passport2" class="dropify" data-height="60" />
                    </div>
                    <div class="upload-text">Паспорт, разворот с пропиской</div>
                </div>
                <div class="upload-wrap">
                    <div class="upload">
                        <input type="file" name="file-inn" class="dropify" data-height="60" />
                    </div>
                    <div class="upload-text">ИНН</div>
                </div>
                <div class="modal-button">
                    <a href="#get-prize-success" class="default-button big blue-halls modal-trigger">Отправить</a>
                </div>
            </form>
        </div>
    </div>
    <div id="get-prize-success" class="modal halls-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close"><img src="{% static 'img/close.svg '%}" alt="X"></a>
            <div class="modal-title">Спасибо!</div>
            <div class="modal-text">Ваш приз будет доставлен по адресу:</div>
            <div class="delivery-address">
                000000, Москва, г. Москва, ул. Московская, д. 24/4, кв. 25
            </div>
            <div class="modal-text">Следить за статусом доставки можно будет в <a href="lk.html">Личном кабинете.</a></div>
            <div class="modal-button">
                <a href="#!" class="default-button big blue-halls modal-close">Подтвердить</a>
            </div>
        </div>
    </div>
    <div id="rejected-check" class="modal halls-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close"><img src="{% static 'img/close.svg' %}" alt="X"></a>
            <div class="modal-title">Чек отклонен</div>
            <div class="modal-text">К сожалению в чеке не присутствует акционная продукция.</div>
            <div class="modal-button">
                <a href="#!" class="default-button big blue-halls modal-close">Закрыть</a>
            </div>
        </div>
    </div>
    <div id="friday-modal" class="modal halls-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close"><img src="{% static 'img/close.svg' %}" alt="X"></a>
            <div class="modal-title">Гарантированный приз</div>
            <div class="modal-text">Путеводитель по странам от телеканала «Пятница». Путеводитель по странам от телеканала «Пятница».</div>
            <div class="modal-button">
                <a href="#!" class="default-button big blue-halls modal-close">Закрыть</a>
            </div>
        </div>
    </div>
    <div id="speaker-modal" class="modal halls-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close"><img src="{% static 'img/close.svg' %}" alt="X"></a>
            <div class="modal-title">Ежедневный приз</div>
            <div class="modal-text">Беспроводная колонка для путешествия. Беспроводная колонка для путешествия.</div>
            <div class="modal-button">
                <a href="#!" class="default-button big blue-halls modal-close">Закрыть</a>
            </div>
        </div>
    </div>
    <div id="gopro-modal" class="modal halls-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close"><img src="{% static 'img/close.svg' %}" alt="X"></a>
            <div class="modal-title">Еженедельный приз</div>
            <div class="modal-text">Экшн-камера, чтобы снимать в путешествии. Экшн-камера, чтобы снимать в путешествии.</div>
            <div class="modal-button">
                <a href="#!" class="default-button big blue-halls modal-close">Закрыть</a>
            </div>
        </div>
    </div>
    <div id="travel-modal" class="modal halls-modal">
        <div class="modal-content">
            <a href="#!" class="modal-close"><img src="{% static 'img/close.svg' %}" alt="X"></a>
            <div class="modal-title">Главный приз</div>
            <div class="modal-text">Освежающее путешествие в страну с упаковки! Освежающее путешествие в страну с упаковки!</div>
            <div class="modal-button">
                <a href="#!" class="default-button big blue-halls modal-close">Закрыть</a>
            </div>
        </div>
    </div>
    {% compress js file base %}
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="js/slick.min.js"></script>
        <script type="text/javascript" src="js/dropify.min.js"></script>
        <script type="text/javascript" src="js/jquery.inputmask.bundle.min.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    {% endcompress %}
</body>
</html>