<footer>
    <div class="container">
        <ul class="footer-links">
            <li><a href="#!">Политика конфиденциальности</a></li>
            <li><a href="#!">Правила акции</a></li>
            <li><a href="#!">Пользовательское соглашение</a></li>
        </ul>
        <div class="footer-logo">
            <img src="img/Logo-mndlz@2x.png" alt="Mondelez Logo" class="responsive-img">
        </div>
        <div class="copyright">
            ООО «Мон’дэлис Русь».<br> Часть группы компаний Mondelēz International. Все права защищены.
        </div>
    </div>
</footer>