<header>
    <div class="container">
        <div class="logo-wrapper">
            <a href="/"><img src="img/Logo-Halls@2x.png" alt="Halls Logo" class="responsive-img"></a>
        </div>
        <div class="main-menu">
            <a href="index.html" class="active">Об акции</a>
            <a href="prizes.html">Призы</a>
            <a href="#!">Правила</a>
            <a href="product.html">Продукт</a>
            <a href="winners.html">Победители</a>
            <a href="feedback.html">Обратная связь</a>
            <a href="faq.html">Вопросы и ответы</a>
            <a href="#auth" class="modal-trigger">Личный кабинет</a>
            <!-- <a href="lk.html" class="active">Личный кабинет</a>
                <a href="#!" class="logout-link">Выйти →</a> -->
        </div>
        <div id="slide-out" class="sidenav mobile-menu">
            <div class="navig-wrap">
                <div class="logo-wrapper">
                    <a href="/"><img src="img/Logo-Halls@2x.png" alt="Halls Logo" class="responsive-img"></a>
                </div>
                <a href="#" class="burger sidenav-close"><img src="img/burger.svg" alt="menu"></a>
            </div>
            <div class="link-wrap">
                <a href="index.html" class="active">Об акции</a>
                <a href="prizes.html">Призы</a>
                <a href="#!">Правила</a>
                <a href="product.html">Продукт</a>
                <a href="winners.html">Победители</a>
                <a href="feedback.html">Обратная связь</a>
                <a href="faq.html">Вопросы и ответы</a>
                <a href="#auth" class="modal-trigger">Личный кабинет</a>
                <!-- <a href="lk.html" class="active">Личный кабинет</a> 
                    <a href="#!" class="logout-link">Выйти →</a> -->
            </div>
        </div>
        <a href="#" data-target="slide-out" class="burger sidenav-trigger"><img src="img/burger.svg" alt="menu"></a>
    </div>
</header>