<section class="page-faq bg-block brazil">
    <div class="container">
        <div class="title">Вопросы и ответы</div>
        <div class="incline-wrap">
            <div class="faq-wrap">
                <ul class="collapsible faq-collapsible">
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Каковы сроки проведения акции?</div>
                        <div class="collapsible-body">
                            <span>
                                Общий срок проведения Акции: с «01» сентября 2019 по «31» января 2020 года (включительно).<br>
                                Срок приобретения продукции и регистрации кассовых чеков для участия в Акции: с «01» сентября 2019 по «30» ноября 2019 года (включительно).
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Что необходимо сделать для того, чтобы принять участие в акции?</div>
                        <div class="collapsible-body">
                            <span>
                                Для того, чтобы стать участником Акции, необходимо:<br>
                                1.  Приобрести Продукцию под товарным знакам «Halls» в количестве от одной упаковки, указанную на сайте www.halls.win, в период с «01» сентября 2019 по «30» ноября 2019 года на территории РФ<br>
                                2.  Пройти регистрацию на сайте www.halls.win, заполнив форму регистрации корректно и в полном объеме
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>В каких городах проходит акция?</div>
                        <div class="collapsible-body">
                            <span>
                                Акция проводится на всей территории Российской Федерации.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Кто может принимать участие в акции?</div>
                        <div class="collapsible-body">
                            <span>
                                К участию в Акции допускаются совершеннолетние дееспособные лица, являющиеся гражданами Российской Федерации, постоянно проживающие на территории РФ.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Какие призы, и в каком количестве принимают участие в акции?</div>
                        <div class="collapsible-body">
                            <span>
                                <b>Гарантированный Приз</b> – Путеводитель в электронном виде (pdf) по Японии, Кении, Исландии, Непалу, Бразилии, Кубе, Таиланду. Общее количество Призов за весь период Акции – неограниченно. Путеводитель высылается один раз за первую регистрацию валидного чека.<br>
                                <b>Ежедневный Приз</b> – Беспроводная колонка JBL. Общее количество Призов за весь период Акции – 273 штуки.<br>
                                <b>Еженедельный Приз</b> – камера GoPro. Общее количество Призов за весь период Акции – 13 штук.<br>
                                <b>Главный Приз</b> – электронный сертификат на поездку в одну из стран на выбор победителя: Кения, Исландия, Бразилия, Непал, Япония, Куба, Таиланд  номиналом 300 000 рублей. Общее количество Главных Призов за весь период Акции – 3 штуки.<br>
                                Максимальное количество Призов, которое может выиграть один Участник – не более 1 Приза каждого вида.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Когда определяются обладатели призов?</div>
                        <div class="collapsible-body">
                            <span>
                                Ежедневно в 18:00:00 по московскому времени в период с  «03» сентября 2019 года по «02» декабря 2019 года, определяется по 3 Победителя в Ежедневном розыгрыше среди чеков, зарегистрированных в период с 00:00:00 часов  «01» сентября 2019 года до 23 часов 59 минут 59 секунд (включительно) «30» ноября 2019 года. Итого 270 обладателей Ежедневных Призов.<br><br>
                                В 18:30:00  по московскому времени «09» сентября 2019 года, «16» сентября 2019 года, «23» сентября 2019 года, «30» сентября 2019 года, «07» октября 2019 года, «14» октября 2019 года, «21» октября 2019 года, «28» октября 2019 года, «04» ноября 2019 года, «11» ноября 2019 года, «18» ноября 2019 года, «25» ноября 2019 года, «02» декабря 2019 года определяется 1 Победитель в Еженедельном розыгрыше. Итого 13 обладателей Еженедельных Призов.<br><br>
                                В 19:00:00  по московскому времени «03» октября 2019 года, «05» ноября 2019 года и «04» декабря 2019 года определяются Победители, получающие Главный Приз. Итого 3 обладателя Главного Приза. 
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Как я узнаю, что стал победителем?</div>
                        <div class="collapsible-body"><span>Получение информации о победе будет приходить на электронный адрес и/или на телефон,указанные при регистрации участника Акции. Также данные по всем победителям Акции можно найти на сайте www.halls.win.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Как получить гарантированный приз?</div>
                        <div class="collapsible-body"><span>Для получения Гарантированного Приза необходимо пройти регистрацию в личном кабинете на сайте www.halls.win, загрузить свой первый валидный чек и нажать на кнопку «Получить» на баннере «Твой путеводитель от телеканала «Пятница» во вкладке Личный кабинет. Далее участник переходит по ссылке https://halls.friday.ru, где получает возможность скачать Путеводитель по одной из стран – свой Гарантированный Приз.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Как выдаются призы?</div>
                        <div class="collapsible-body">
                            <span>
                                <b>Ежедневные</b> и <b>Еженедельные</b> Призы будут доставлены с помощью курьерской службы.<br>
                                <b>Главные Призы</b> передаются Победителю посредством отправки электронного сертификата на электронную почту Победителя, указанную при регистрации на сайте Акции.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Я выиграл Ежедневный приз. Какие мои дальнейшие действия?</div>
                        <div class="collapsible-body">
                            <span>
                                Если Вы выиграли Ежедневный Приз, то в течение 3-х календарных дней после получения информации о победе, от Вас потребуется предоставить Оператору документы и информацию в письме на адрес электронной почты support@halls.win. А именно: <br>
                                - Номер мобильного телефона, по которому Оператор Акции может связаться с Вами для вручения приза; <br>
                                - Адрес по месту Вашего проживания/ работы для доставки приза; <br>
                                - Сканированную копию/фотографию оригинала чека(ов) и/или упаковок Продукции, подтверждающего(их) покупку, по запросу Оператора Акции. 
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Я выиграл Ежедневный приз. Какие мои дальнейшие действия?</div>
                        <div class="collapsible-body">
                            <span>
                                Если Вы выиграли Ежедневный Приз, то в течение 3-х календарных дней после получения информации о победе, от Вас потребуется предоставить Оператору документы и информацию в письме на адрес электронной почты support@halls.win. А именно: <br>
                                - Номер мобильного телефона, по которому Оператор Акции может связаться с Вами для вручения приза; <br>
                                - Адрес по месту Вашего проживания/ работы для доставки приза; <br>
                                - Сканированную копию/фотографию оригинала чека(ов) и/или упаковок Продукции, подтверждающего(их) покупку, по запросу Оператора Акции. 
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Я выиграл Еженедельный или Главный приз. Какие мои дальнейшие действия?</div>
                        <div class="collapsible-body">
                            <span>
                                Если Вы выиграли Еженедельный или Главный Приз, то в течение 3-х календарных дней после получения информации о победе, от Вас потребуется предоставить Оператору документы и информацию в письме на адрес электронной почты support@halls.win. А именно: <br>
                                - сканированную копию Российского Паспорта (страницы с данными о: фамилии, имени, отчестве, дате рождения, серии и номере паспорта, месте и дате его выдачи, адресе регистрации, остальные данные необходимо закрыть);<br>
                                - номер мобильного телефона, по которому Оператор Акции может связаться с Вами для вручения приза;<br>
                                - Копию своего свидетельства ИНН;<br>
                                - Адрес по месту Вашего проживания для доставки приза;<br>
                                - Сканированную копию/фотографию оригинала чека(ов) и/или упаковок Продукции, подтверждающего(их) покупку, по запросу Оператора Акции.<br>
                                После получения Приза Вы должны предоставить Оператору Промо-акции оригинал Акта приема-передачи Приза.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Сколько призов может получить один участник акции?</div>
                        <div class="collapsible-body">
                            <span>
                                <b>Гарантированный Приз</b> передается Участнику один раз во время регистрации первого чека.<br>
                                Максимальное количество <b>Ежедневных</b>, <b>Еженедельных</b> и <b>Главных Призов</b>, которое может выиграть один Участник - не более одного Приза каждого вида.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Нужно ли мне платить налоги на приз? Или платить что-то для получения приза?</div>
                        <div class="collapsible-body">
                            <span>
                                Нет, платить для получения приза не требуется. Оператор выполняет функции налогового агента в соответствии с законодательством Российской Федерации.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Могут ли мои личные данные быть использованы компанией в других целях?</div>
                        <div class="collapsible-body">
                            <span>
                                Персональные данные собираются с целью отправки Участникам призов, сообщений Участникам о выигрыше, информации о продукции Организатора и проводимых им мероприятиях, рекламных предложений, а также с целью проведения маркетингового анализа и подготовки статистической информации, а также иных целей, необходимых в соответствии с законодательством Российской Федерации.<br>
                                Организатор Акции может брать у победителей Акции рекламные интервью об участии в Акции, в том числе для радио и телевидения, а равно для иных средств массовой информации, либо снимать участника для изготовления любых рекламных материалов без уплаты за это какого-либо вознаграждения. 
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div class="collapsible-icon"></div>Какой продукт принимает участие в акции?</div>
                        <div class="collapsible-body">
                            <span>
                                Список продукции, которая принимает участие в акции, можно найти на сайте, перейдя на вкладку «Продукт». 
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="reincline bottom"></div>
</section>