<section class="page-feedback bg-block brazil">
    <div class="container">
        <div class="title">Есть вопросы?</div>
        <div class="feedback-text">Если у тебя появились какие-нибудь вопросы, напиши нам, мы обязательно ответим!</div>
        <form class="feedback-form">
            <div class="inputs-wrap">
                <div class="left-form">
                    <div class="input-wrap">
                        <input type="text" placeholder="Имя и фамилия">
                    </div>
                    <div class="input-wrap">
                        <input type="text" placeholder="E-mail">
                    </div>
                    <div class="input-wrap">
                        <select>
                            <option value="" disabled selected>Выбери тему из списка</option>
                            <option value="1">Вопрос по работе сайта</option>
                            <option value="2">Вопрос по правилам акции</option>
                            <option value="3">Вопрос по призам</option>
                            <option value="4">Вопрос по загрузке чека</option>
                            <option value="5">Вопрос по регистрации</option>
                            <option value="6">Другое</option>
                        </select>
                    </div>
                </div>
                <div class="right-form">
                    <div class="input-wrap">
                        <textarea placeholder="Твоё сообщение"></textarea>
                    </div>
                </div>
            </div>
            <div class="feedback-button">
                <a href="#!" class="default-button big white-halls">Отправить</a>
            </div>
        </form>
    </div>
    <div class="reincline bottom"></div>
</section>