<section class="content">
    <div class="container">
        <div class="main-content">
            <div class="first-content">
                <div class="halls">
                    <div class="halls-text">
                        <img src="{% static 'img/txt@2x.png' %}" alt="halls text" class="responsive-img">
                    </div>
                    <img src="{% static 'img/pack@2x.png' %}" alt="pack" class="responsive-img halls-bg">
                    <div class="halls-country halls-brazil"></div>
                </div>
                <div class="terms-promo">с 1 сентября по 30 ноября 2019 года</div>
                <div class="win-text">
                    <img src="{% static 'img/header-desk.svg' %}" alt="Выиграй путешествие и другие призы" class="responsive-img win-text-desk">
                    <img src="{% static 'img/header-mob.svg' %}" alt="Выиграй путешествие и другие призы" class="responsive-img win-text-mob">
                </div>
                <a href="#auth" class="button-main modal-trigger">
                    <span>Участвовать</span>
                    <div class="main-layer1"></div>
                    <div class="main-layer2"></div>
                    <div class="main-layer3"></div>
                </a>
            </div>
            <div class="second-content">
                <div class="fan">
                    <img src="{% static 'img/product/brazil-main@2x.png' %}" alt="Fan halls" class="responsive-img brazil-fan fan-main-desk active">
                    <img src="{% static 'img/product/iceland-main@2x.png' %}" alt="Fan halls" class="responsive-img iceland-fan fan-main-desk">
                    <img src="{% static 'img/product/cuba-main@2x.png' %}" alt="Fan halls" class="responsive-img cuba-fan fan-main-desk">
                    <img src="{% static 'img/product/nepal-main@2x.png' %}" alt="Fan halls" class="responsive-img nepal-fan fan-main-desk">
                    <img src="{% static 'img/product/japan-main@2x.png' %}" alt="Fan halls" class="responsive-img japan-fan fan-main-desk">
                    <img src="{% static 'img/product/thai-main@2x.png' %}" alt="Fan halls" class="responsive-img thailand-fan fan-main-desk">
                    <img src="{% static 'img/product/kenya-main@2x.png' %}" alt="Fan halls" class="responsive-img kenya-fan fan-main-desk">
                </div>
                <div class="steps">
                    <div class="step">
                        <div class="step-title">1. Купи</div>
                        <div class="step-content">Любой Halls в<br> промо-упаковке и<br> зарегистрируй чек от покупки</div>
                    </div>
                    <div class="step">
                        <div class="step-title">2. Получи</div>
                        <div class="step-content">Гарантированный приз — <br>путеводитель по странам от канала</div>
                        <div class="step2-img-wrapper">
                            <img src="{% static 'img/icon-3@2x.png' %}" alt="Friday Logo" class="responsive-img">
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-title">3. Выигрывай призы</div>
                        <div class="step-content-wrapper">
                            <div class="step-content">Раз в месяц — освежающее путешествие.</div>
                            <div class="step-content">Раз в неделю — экшн-камеру.<br> Раз в день — беспроводную колонку.</div>
                        </div>
                        <div class="step-img-wrapper">
                            <div class="step3-img-wrapper">
                                <img src="{% static 'img/icon-4-1@2x.png' %}" alt="fly icon" class="responsive-img">
                            </div>
                            <div class="step3-img-wrapper">
                                <img src="{% static 'img/icon-4-2@2x.png' %}" alt="photo icon" class="responsive-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="first-bg brazil">
    <div class="subfirst-bg"></div>
</div>
<div class="second-bg">
    <div class="mob-fix"></div>
    <div class="incline bottom"></div>
</div>
<section class="main-prizes">
    <div class="container">
        <div class="title">Что ты можешь выиграть</div>
        <div class="prizes">
            <a href="#friday-modal" class="prize modal-trigger">
                <div class="prize-title">Гарантированный приз</div>
                <div class="prize-text">Путеводитель по странам от телеканала «Пятница»</div>
                <div class="prize-img">
                    <img src="{% static 'img/prize-large-pyatniza.svg' %}" alt="Friday Logo" class="responsive-img">
                </div>
                <div class="prize-quantity"><span>Безлимитно</span></div>
            </a>
            <a href="#speaker-modal" class="prize modal-trigger">
                <div class="prize-title">Ежедневный приз</div>
                <div class="prize-text">Беспроводная колонка для путешествия</div>
                <div class="prize-img">
                    <img src="{% static 'img/prize-large-speaker.svg' %}" alt="Беспроводная колонка" class="responsive-img">
                </div>
                <div class="prize-quantity"><span>273 колонки</span></div>
            </a>
            <a href="#gopro-modal" class="prize modal-trigger">
                <div class="prize-title">Еженедельный приз</div>
                <div class="prize-text">Экшн-камера, чтобы снимать в путешествии</div>
                <div class="prize-img">
                    <img src="{% static 'img/prize-large-gopro.svg' %}" alt="Go-Pro" class="responsive-img">
                </div>
                <div class="prize-quantity"><span>13 камер</span></div>
            </a>
            <a href="#travel-modal" class="prize modal-trigger">
                <div class="prize-title">Главный приз</div>
                <div class="prize-text">Освежающее путешествие в страну с упаковки!</div>
                <div class="prize-img">
                    <img src="{% static 'img/prize-large-journey.svg' %}" alt="Plane" class="responsive-img">
                </div>
                <div class="prize-quantity"><span>3 путешествия</span></div>
            </a>
        </div>
    </div>
</section>
<section class="socials">
    <div class="incline top"></div>
    <div class="container">
        <div class="title">Расскажи друзьям!</div>
        <div class="socials-text">Они тоже могут попробовать выиграть путешествие и другие призы</div>
        <div class="social-block">
            <a href="#!" class="social">
                <img src="{% static 'img/fb.svg' %}" alt="Facebook" class="responsive-img">
            </a>
            <a href="#!" class="social">
                <img src="{% static 'img/vk.svg' %}" alt="VK" class="responsive-img">
            </a>
            <a href="#!" class="social">
                <img src="{% static 'img/ok.svg' %}" alt="Odnoklassniki" class="responsive-img">
            </a>
        </div>
    </div>
    <div class="incline bottom"></div>
</section>