<section class="page-lk bg-block brazil">
    <div class="container">
        <div class="title">Личный кабинет</div>
        <div class="fio">Анастасия Загороднева</div>
        <div class="user-contacts">
            <span class="email">nast-zag@mail.ru</span>
            <span class="phone">+7 (000) 000-00-00</span>
        </div>
        <div class="lk-wrap desktop-table">
            <div class="friday-wrap friday-brazil">
                <div class="friday-title">Твой путеводитель<br>от телеканала</div>
                <div class="lk-friday-logo">
                    <img src="{% static 'img/icon-3@2x.png' %}" alt="Пятница лого" class="responsive-img">
                </div>
                <div class="friday-button">
                    <a href="#!" class="default-button white-halls">Получить</a>
                </div>
            </div>
            <div class="incline-wrap">
                <div class="table-wrap">
                    <div class="table-title">Твои чеки</div>
                    <table>
                        <tbody>
                            <tr>
                                <td><div><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div><span>923570399</span></td>
                                <td><span>06.09.2019</span></td>
                                <td><img src="{% static 'img/checked.svg' %}" alt="checked" class="responsive-img"><span>Проверяется</span></td>
                            </tr>
                            <tr>
                                <td><div><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div><span>923570399</span></td>
                                <td><span>06.09.2019</span></td>
                                <td><img src="{% static 'img/approved.svg' %}" alt="approved" class="responsive-img"><span>Одобрен</span></td>
                            </tr>
                            <tr class="rejected">
                                <td><div class="rejected-photo"><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div><span>923570399</span></td>
                                <td><span>06.09.2019</span></td>
                                <td><img src="{% static 'img/rejected.svg' %}" alt="rejected" class="responsive-img"><span><a href="#rejected-check" class="modal-trigger">Отклонен</a></span></td>
                            </tr>
                            <tr>
                                <td><div><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div><span>923570399</span></td>
                                <td><span>06.09.2019</span></td>
                                <td><img src="{% static 'img/checked.svg' %}" alt="checked" class="responsive-img"><span>Проверяется</span></td>
                            </tr>
                            <tr>
                                <td><div><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div><span>923570399</span></td>
                                <td><span>06.09.2019</span></td>
                                <td><img src="{% static 'img/approved.svg' %}" alt="approved" class="responsive-img"><span>Одобрен</span></td>
                            </tr>
                            <tr class="rejected">
                                <td><div class="rejected-photo"><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div><span>923570399</span></td>
                                <td><span>06.09.2019</span></td>
                                <td><img src="{% static 'img/rejected.svg' %}" alt="rejected" class="responsive-img"><span><a href="#rejected-check" class="modal-trigger">Отклонен</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-button">
                    <a href="#!" class="default-button big blue-halls">Загрузить чек</a>
                </div>
            </div>
            <div class="my-prizes-wrap">
                <div class="my-prizes">
                    <div class="my-prizes-title">Твои призы</div>
                    <div class="my-prize">
                        <div class="my-prize-img">
                            <img src="{% static 'img/speaker-big.svg' %}" alt="speaker" class="responsive-img">
                        </div>
                        <div class="my-prize-info">
                            <div class="my-prize-date">04.09.2019</div>
                            <div class="my-prize-name">Беспроводная колонка</div>
                        </div>
                        <div class="my-prize-button">
                            <a href="#get-prize" class="modal-trigger">Получить</a>
                        </div>
                    </div>
                    <div class="my-prize">
                        <div class="my-prize-img">
                            <img src="{% static 'img/go-pro-big.svg' %}" alt="go-pro" class="responsive-img">
                        </div>
                        <div class="my-prize-info">
                            <div class="my-prize-date">04.09.2019</div>
                            <div class="my-prize-name">Экшн-камера</div>
                        </div>
                        <div class="my-prize-status">Приз отправлен</div>
                    </div>
                    <div class="my-prize">
                        <div class="my-prize-img">
                            <img src="{% static 'img/speaker-big.svg' %}" alt="speaker" class="responsive-img">
                        </div>
                        <div class="my-prize-info">
                            <div class="my-prize-date">04.09.2019</div>
                            <div class="my-prize-name">Беспроводная колонка</div>
                        </div>
                        <div class="my-prize-button">
                            <a href="#get-prize" class="modal-trigger">Получить</a>
                        </div>
                    </div>
                    <div class="my-prize">
                        <div class="my-prize-img">
                            <img src="{% static 'img/go-pro-big.svg' %}" alt="go-pro" class="responsive-img">
                        </div>
                        <div class="my-prize-info">
                            <div class="my-prize-date">04.09.2019</div>
                            <div class="my-prize-name">Экшн-камера</div>
                        </div>
                        <div class="my-prize-status">Приз отправлен</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lk-wrap mobile-table">
            <div class="incline-wrap">
                <div class="table-wrap">
                    <div class="table-title">Твои чеки</div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div>
                                    <div class="table-data truncate">
                                        <span>923570399</span><br>
                                        <span>06.09.2019</span>
                                    </div>
                                </td>
                                <td><img src="{% static 'img/checked.svg' %}" alt="checked" class="responsive-img"><span>Проверяется</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div>
                                    <div class="table-data truncate">
                                        <span>923570399</span><br>
                                        <span>06.09.2019</span>
                                    </div>
                                </td>
                                <td><img src="{% static 'img/approved.svg' %}" alt="approved" class="responsive-img"><span>Одобрен</span></td>
                            </tr>
                            <tr class="rejected">
                                <td>
                                    <div class="rejected-photo"><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div>
                                    <div class="table-data truncate">
                                        <span>923570399</span><br>
                                        <span>06.09.2019</span>
                                    </div>
                                </td>
                                <td><img src="{% static 'img/rejected.svg' %}" alt="rejected" class="responsive-img"><span><a href="#rejected-check" class="modal-trigger">Отклонен</a></span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div>
                                    <div class="table-data truncate">
                                        <span>923570399</span><br>
                                        <span>06.09.2019</span>
                                    </div>
                                </td>
                                <td><img src="{% static 'img/checked.svg' %}" alt="checked" class="responsive-img"><span>Проверяется</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div>
                                    <div class="table-data truncate">
                                        <span>923570399</span><br>
                                        <span>06.09.2019</span>
                                    </div>
                                </td>
                                <td><img src="{% static 'img/approved.svg' %}" alt="approved" class="responsive-img"><span>Одобрен</span></td>
                            </tr>
                            <tr class="rejected">
                                <td>
                                    <div class="rejected-photo"><img src="{% static 'img/check-photo.png' %}" alt="Чек" class="responsive-img"></div>
                                    <div class="table-data truncate">
                                        <span>923570399</span><br>
                                        <span>06.09.2019</span>
                                    </div>
                                </td>
                                <td><img src="{% static 'img/rejected.svg' %}" alt="rejected" class="responsive-img"><span><a href="#rejected-check" class="modal-trigger">Отклонен</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-button">
                    <a href="#!" class="default-button big blue-halls">Загрузить чек</a>
                </div>
            </div>
            <div class="mobile-lk-wrap">
                <div class="my-prizes-wrap">
                    <div class="my-prizes">
                        <div class="my-prizes-title">Твои призы</div>
                        <div class="my-prize">
                            <div class="my-prize-img">
                                <img src="{% static 'img/speaker-big.svg' %}" alt="speaker" class="responsive-img">
                            </div>
                            <div class="my-prize-info">
                                <div class="my-prize-date">04.09.2019</div>
                                <div class="my-prize-name">Беспроводная колонка</div>
                            </div>
                            <div class="my-prize-button">
                                <a href="#get-prize" class="modal-trigger">Получить</a>
                            </div>
                        </div>
                        <div class="my-prize">
                            <div class="my-prize-img">
                                <img src="{% static 'img/go-pro-big.svg' %}" alt="go-pro" class="responsive-img">
                            </div>
                            <div class="my-prize-info">
                                <div class="my-prize-date">04.09.2019</div>
                                <div class="my-prize-name">Экшн-камера</div>
                            </div>
                            <div class="my-prize-status">Приз отправлен</div>
                        </div>
                        <div class="my-prize">
                            <div class="my-prize-img">
                                <img src="{% static 'img/speaker-big.svg' %}" alt="speaker" class="responsive-img">
                            </div>
                            <div class="my-prize-info">
                                <div class="my-prize-date">04.09.2019</div>
                                <div class="my-prize-name">Беспроводная колонка</div>
                            </div>
                            <div class="my-prize-button">
                                <a href="#get-prize" class="modal-trigger">Получить</a>
                            </div>
                        </div>
                        <div class="my-prize">
                            <div class="my-prize-img">
                                <img src="{% static 'img/go-pro-big.svg' %}" alt="go-pro" class="responsive-img">
                            </div>
                            <div class="my-prize-info">
                                <div class="my-prize-date">04.09.2019</div>
                                <div class="my-prize-name">Экшн-камера</div>
                            </div>
                            <div class="my-prize-status">Приз отправлен</div>
                        </div>
                    </div>
                </div>
                <div class="friday-wrap friday-brazil">
                    <div class="friday-title">Твой путеводитель<br>от телеканала</div>
                    <div class="lk-friday-logo">
                        <img src="{% static 'img/icon-3@2x.png' %}" alt="Пятница лого" class="responsive-img">
                    </div>
                    <div class="friday-button">
                        <a href="#!" class="default-button white-halls">Получить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="reincline bottom"></div>
</section>