<section class="page-prizes bg-block brazil">
    <div class="container">
        <div class="title">Что ты можешь выиграть</div>
        <div class="prizes">
            <a href="#friday-modal" class="prize modal-trigger">
                <div class="prize-title">Гарантированный приз</div>
                <div class="prize-text">Путеводитель по странам от телеканала «Пятница»</div>
                <div class="prize-img">
                    <img src="{% static 'img/prize-large-pyatniza.svg' %}" alt="Friday Logo" class="responsive-img">
                </div>
                <div class="prize-quantity"><span>Безлимитно</span></div>
            </a>
            <a href="#speaker-modal" class="prize modal-trigger">
                <div class="prize-title">Ежедневный приз</div>
                <div class="prize-text">Беспроводная колонка для путешествия</div>
                <div class="prize-img">
                    <img src="{% static 'img/prize-large-speaker.svg' %}" alt="Беспроводная колонка" class="responsive-img">
                </div>
                <div class="prize-quantity"><span>273 колонки</span></div>
            </a>
            <a href="#gopro-modal" class="prize modal-trigger">
                <div class="prize-title">Еженедельный приз</div>
                <div class="prize-text">Экшн-камера, чтобы снимать в путешествии</div>
                <div class="prize-img">
                    <img src="{% static 'img/prize-large-gopro.svg' %}" alt="Go-Pro" class="responsive-img">
                </div>
                <div class="prize-quantity"><span>13 камер</span></div>
            </a>
            <a href="#travel-modal" class="prize modal-trigger">
                <div class="prize-title">Главный приз</div>
                <div class="prize-text">Освежающее путешествие в страну с упаковки!</div>
                <div class="prize-img">
                    <img src="{% static 'img/prize-large-journey.svg' %}" alt="Plane" class="responsive-img">
                </div>
                <div class="prize-quantity"><span>3 путешествия</span></div>
            </a>
        </div>
    </div>
    <div class="reincline bottom"></div>
</section>