<section class="page-product bg-block">
    <div class="container">
        <div class="title">Продукт</div>
        <div class="bg-slider">
            <div class="product-bg brazil">
                <img src="{% static 'img/brazil-bg.jpg' %}" alt="Бразилия" class="responsive-img">
            </div>
            <div class="product-bg cuba">
                <img src="{% static 'img/cuba-bg.jpg' %}" alt="Куба" class="responsive-img">
            </div>
            <div class="product-bg iceland">
                <img src="{% static 'img/iceland-bg.jpg' %}" alt="Исландия" class="responsive-img">
            </div>
            <div class="product-bg japan">
                <img src="{% static 'img/japan-bg.jpg' %}" alt="Япония" class="responsive-img">
            </div>
            <div class="product-bg kenya">
                <img src="{% static 'img/kenya-bg.jpg' %}" alt="Кения" class="responsive-img">
            </div>
            <div class="product-bg nepal">
                <img src="{% static 'img/nepal-bg.jpg' %}" alt="Непал" class="responsive-img">
            </div>
            <div class="product-bg thailand">
                <img src="{% static 'img/thailand-bg.jpg' %}" alt="Тайланд" class="responsive-img">
            </div>
        </div>
        <div class="products-slider">
            <div class="product">
                <div class="product-img">
                    <img src="{% static 'img/product/brazil-prod@2x.png' %}" alt="Halls Бразилия" class="responsive-img">
                </div>
                <div class="product-name">Halls Бразилия</div>
                <div class="product-desc">
                    Вкус: оригинальный<br>
                    <span class="product-weight">25 г</span>
                </div>
                <div class="product-button">
                    <a href="#!" class="default-button white-halls">Купить</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="{% static 'img/product/cuba-prod@2x.png' %}" alt="Halls Куба" class="responsive-img">
                </div>
                <div class="product-name">Halls Куба</div>
                <div class="product-desc">
                    Вкус: арбуз<br>
                    <span class="product-weight">25 г</span>
                </div>
                <div class="product-button">
                    <a href="#!" class="default-button white-halls">Купить</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="{% static 'img/product/iceland-prod@2x.png' %}" alt="Halls Исландия" class="responsive-img">
                </div>
                <div class="product-name">Halls Исландия</div>
                <div class="product-desc">
                    Вкус: яблоко, манго, арбуз, лесные ягоды, малина, ежевика, земляника<br>
                    <span class="product-weight">25 г</span>
                </div>
                <div class="product-button">
                    <a href="#!" class="default-button white-halls">Купить</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="{% static 'img/product/japan-prod@2x.png' %}" alt="Halls Япония" class="responsive-img">
                </div>
                <div class="product-name">Halls Япония</div>
                <div class="product-desc">
                    Вкус: клубника со сливками<br>
                    <span class="product-weight">25 г</span>
                </div>
                <div class="product-button">
                    <a href="#!" class="default-button white-halls">Купить</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="{% static 'img/product/kenya-prod@2x.png' %}" alt="Halls Кения" class="responsive-img">
                </div>
                <div class="product-name">Halls Кения</div>
                <div class="product-desc">
                    Вкус: мёд и лимон<br>
                    <span class="product-weight">25 г</span>
                </div>
                <div class="product-button">
                    <a href="#!" class="default-button white-halls">Купить</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="{% static 'img/product/nepal-prod@2x.png' %}" alt="Halls Непал" class="responsive-img">
                </div>
                <div class="product-name">Halls Непал</div>
                <div class="product-desc">
                    Вкус: ментол экстра<br>
                    <span class="product-weight">24,5 г</span>
                </div>
                <div class="product-button">
                    <a href="#!" class="default-button white-halls">Купить</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="{% static 'img/product/thai-prod@2x.png' %}" alt="Halls Тайланд" class="responsive-img">
                </div>
                <div class="product-name">Halls Тайланд</div>
                <div class="product-desc">
                    Вкус: гранат и ягоды асаи<br>
                    <span class="product-weight">25 г</span>
                </div>
                <div class="product-button">
                    <a href="#!" class="default-button white-halls">Купить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="reincline bottom"></div>
</section>