<section class="page-winners bg-block brazil">
    <div class="container">
        <div class="title">Они уже выиграли</div>
        <div class="filters-wrap">
            <div class="filter">
                <span>Показать:</span>
                <div class="select-wrap desk-block">
                    <select class="desk-block">
                        <option value="0" selected>Все призы</option>
                        <option value="1">Беспроводные колонки</option>
                        <option value="2">Экшн-камеры</option>
                        <option value="3">Путешествия</option>
                    </select>
                </div>
                <div class="select-wrap mob-block">
                    <select class="mob-block browser-default">
                        <option value="0" selected>Все призы</option>
                        <option value="1">Беспроводные колонки</option>
                        <option value="2">Экшн-камеры</option>
                        <option value="3">Путешествия</option>
                    </select>
                </div>
            </div>
            <div class="search">
                <input type="text" class="phone-mask" placeholder="Поиск по телефону">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.75919 8.1204C1.75919 9.87418 2.31516 11.4981 3.26046 12.8255L0 16.086L1.914 18L5.17445 14.7395C6.50189 15.6848 8.12582 16.2408 9.8796 16.2408C14.3644 16.2408 18 12.6052 18 8.1204C18 3.63563 14.3644 0 9.8796 0C5.39482 0 1.75919 3.63563 1.75919 8.1204ZM15.2932 8.1204C15.2932 11.1103 12.8694 13.534 9.8796 13.534C6.88975 13.534 4.46599 11.1103 4.46599 8.1204C4.46599 5.13055 6.88975 2.7068 9.8796 2.7068C12.8694 2.7068 15.2932 5.13055 15.2932 8.1204Z" fill="#FF00C8"/>
                </svg>
            </div>
        </div>
        <div class="incline-wrap desktop-table">
            <div class="table-wrap">
                <table>
                    <tbody>
                        <tr>
                            <td><span>Александр Р.</span></td>
                            <td><span>+7 (***) ***-4563</span></td>
                            <td><span>06.09.2019</span></td>
                            <td><img src="{% static 'img/plane-blue.png' %}" alt="Путешествие" class="responsive-img"><span>Путешествие</span></td>
                        </tr>
                        <tr>
                            <td><span>Александр Р.</span></td>
                            <td><span>+7 (***) ***-4563</span></td>
                            <td><span>06.09.2019</span></td>
                            <td><img src="{% static 'img/speaker.svg' %}" alt="Колонка" class="responsive-img"><span>Беспроводная колонка</span></td>
                        </tr>
                        <tr>
                            <td><span>Александр Р.</span></td>
                            <td><span>+7 (***) ***-4563</span></td>
                            <td><span>06.09.2019</span></td>
                            <td><img src="{% static 'img/speaker.svg' %}" alt="Колонка" class="responsive-img"><span>Беспроводная колонка</span></td>
                        </tr>
                        <tr>
                            <td><span>Александр Р.</span></td>
                            <td><span>+7 (***) ***-4563</span></td>
                            <td><span>06.09.2019</span></td>
                            <td><img src="{% static 'img/go-pro.svg' %}" alt="Камера" class="responsive-img"><span>Экшн-камера</span></td>
                        </tr>
                        <tr>
                            <td><span>Александр Р.</span></td>
                            <td><span>+7 (***) ***-4563</span></td>
                            <td><span>06.09.2019</span></td>
                            <td><img src="{% static 'img/speaker.svg' %}" alt="Колонка" class="responsive-img"><span>Беспроводная колонка</span></td>
                        </tr>
                        <tr>
                            <td><span>Александр Р.</span></td>
                            <td><span>+7 (***) ***-4563</span></td>
                            <td><span>06.09.2019</span></td>
                            <td><img src="{% static 'img/speaker.svg' %}" alt="Колонка" class="responsive-img"><span>Беспроводная колонка</span></td>
                        </tr>
                        <tr>
                            <td><span>Александр Р.</span></td>
                            <td><span>+7 (***) ***-4563</span></td>
                            <td><span>06.09.2019</span></td>
                            <td><img src="{% static 'img/speaker.svg' %}" alt="Колонка" class="responsive-img"><span>Беспроводная колонка</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="incline-wrap mobile-table">
            <div class="table-wrap">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span>Александр Р.</span><br>
                                <span>+7 (***) ***-4563</span><br>
                                <span>06.09.2019</span>
                            </td>
                            <td><img src="{% static 'img/plane-blue.png' %}" alt="Путешествие" class="responsive-img"><span>Путешествие</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span>Александр Р.</span><br>
                                <span>+7 (***) ***-4563</span><br>
                                <span>06.09.2019</span>
                            </td>
                            <td><img src="{% static 'img/speaker.svg' %}" alt="Колонка" class="responsive-img"><span>Беспроводная колонка</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span>Александр Р.</span><br>
                                <span>+7 (***) ***-4563</span><br>
                                <span>06.09.2019</span>
                            </td>
                            <td><img src="{% static 'img/speaker.svg' %}" alt="Колонка" class="responsive-img"><span>Беспроводная колонка</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span>Александр Р.</span><br>
                                <span>+7 (***) ***-4563</span><br>
                                <span>06.09.2019</span>
                            </td>
                            <td><img src="{% static 'img/go-pro.svg '%}" alt="Камера" class="responsive-img"><span>Экшн-камера</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span>Александр Р.</span><br>
                                <span>+7 (***) ***-4563</span><br>
                                <span>06.09.2019</span>
                            </td>
                            <td><img src="{% static 'img/speaker.svg' %}" alt="Колонка" class="responsive-img"><span>Беспроводная колонка</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span>Александр Р.</span><br>
                                <span>+7 (***) ***-4563</span><br>
                                <span>06.09.2019</span>
                            </td>
                            <td><img src="{% static 'img/speaker.svg' %}" alt="Колонка" class="responsive-img"><span>Беспроводная колонка</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span>Александр Р.</span><br>
                                <span>+7 (***) ***-4563</span><br>
                                <span>06.09.2019</span>
                            </td>
                            <td><img src="{% static 'img/speaker.svg' %}" alt="Колонка" class="responsive-img"><span>Беспроводная колонка</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="reincline bottom"></div>
</section>