@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-UltraLight.eot');
    src: url('AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-UltraLight.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLight.woff') format('woff'),
        url('AvenirNextCyr-UltraLight.svg#AvenirNextCyr-UltraLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-UltraLightIt.eot');
    src: url('AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLightIt.woff') format('woff'),
        url('AvenirNextCyr-UltraLightIt.svg#AvenirNextCyr-UltraLightIt') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Thin.eot');
    src: url('AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Thin.woff2') format('woff2'),
        url('AvenirNextCyr-Thin.woff') format('woff'),
        url('AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Light.eot');
    src: url('AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Light.woff2') format('woff2'),
        url('AvenirNextCyr-Light.woff') format('woff'),
        url('AvenirNextCyr-Light.svg#AvenirNextCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Regular.eot');
    src: url('AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Regular.woff2') format('woff2'),
        url('AvenirNextCyr-Regular.woff') format('woff'),
        url('AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Italic.eot');
    src: url('AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Italic.woff2') format('woff2'),
        url('AvenirNextCyr-Italic.woff') format('woff'),
        url('AvenirNextCyr-Italic.svg#AvenirNextCyr-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Medium.eot');
    src: url('AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Medium.woff2') format('woff2'),
        url('AvenirNextCyr-Medium.woff') format('woff'),
        url('AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Demi.eot');
    src: url('AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Demi.woff2') format('woff2'),
        url('AvenirNextCyr-Demi.woff') format('woff'),
        url('AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-DemiItalic.eot');
    src: url('AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-DemiItalic.woff2') format('woff2'),
        url('AvenirNextCyr-DemiItalic.woff') format('woff'),
        url('AvenirNextCyr-DemiItalic.svg#AvenirNextCyr-DemiItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Bold.eot');
    src: url('AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Bold.woff2') format('woff2'),
        url('AvenirNextCyr-Bold.woff') format('woff'),
        url('AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-BoldItalic.eot');
    src: url('AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-BoldItalic.woff2') format('woff2'),
        url('AvenirNextCyr-BoldItalic.woff') format('woff'),
        url('AvenirNextCyr-BoldItalic.svg#AvenirNextCyr-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Heavy.eot');
    src: url('AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('AvenirNextCyr-Heavy.woff') format('woff'),
        url('AvenirNextCyr-Heavy.svg#AvenirNextCyr-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Medium.eot');
    src: url('DINPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('DINPro-Medium.woff2') format('woff2'),
        url('DINPro-Medium.woff') format('woff'),
        url('DINPro-Medium.svg#DINPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Light.eot');
    src: url('DINPro-Light.eot?#iefix') format('embedded-opentype'),
        url('DINPro-Light.woff2') format('woff2'),
        url('DINPro-Light.woff') format('woff'),
        url('DINPro-Light.svg#DINPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Black.eot');
    src: url('DINPro-Black.eot?#iefix') format('embedded-opentype'),
        url('DINPro-Black.woff2') format('woff2'),
        url('DINPro-Black.woff') format('woff'),
        url('DINPro-Black.svg#DINPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Bold.eot');
    src: url('DINPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('DINPro-Bold.woff2') format('woff2'),
        url('DINPro-Bold.woff') format('woff'),
        url('DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Regular.eot');
    src: url('DINPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('DINPro-Regular.woff2') format('woff2'),
        url('DINPro-Regular.woff') format('woff'),
        url('DINPro-Regular.svg#DINPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-BoldItalic.eot');
    src: url('PFDinTextCondPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-BoldItalic.woff2') format('woff2'),
        url('PFDinTextCondPro-BoldItalic.woff') format('woff'),
        url('PFDinTextCondPro-BoldItalic.svg#PFDinTextCondPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-Medium.eot');
    src: url('PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-Medium.woff2') format('woff2'),
        url('PFDinTextCondPro-Medium.woff') format('woff'),
        url('PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-MediumItalic.eot');
    src: url('PFDinTextCondPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-MediumItalic.woff2') format('woff2'),
        url('PFDinTextCondPro-MediumItalic.woff') format('woff'),
        url('PFDinTextCondPro-MediumItalic.svg#PFDinTextCondPro-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-Bold.eot');
    src: url('PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-Bold.woff2') format('woff2'),
        url('PFDinTextCondPro-Bold.woff') format('woff'),
        url('PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-LightItalic.eot');
    src: url('PFDinTextCondPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-LightItalic.woff2') format('woff2'),
        url('PFDinTextCondPro-LightItalic.woff') format('woff'),
        url('PFDinTextCondPro-LightItalic.svg#PFDinTextCondPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-Italic.eot');
    src: url('PFDinTextCondPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-Italic.woff2') format('woff2'),
        url('PFDinTextCondPro-Italic.woff') format('woff'),
        url('PFDinTextCondPro-Italic.svg#PFDinTextCondPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-Regular.eot');
    src: url('PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-Regular.woff2') format('woff2'),
        url('PFDinTextCondPro-Regular.woff') format('woff'),
        url('PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-Light.eot');
    src: url('PFDinTextCondPro-Light.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-Light.woff2') format('woff2'),
        url('PFDinTextCondPro-Light.woff') format('woff'),
        url('PFDinTextCondPro-Light.svg#PFDinTextCondPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

